@import (reference) '~@/styles/index.less';

.comp-footer {
  background: @bg-gray;
  color: @white;
  .title-font() {
    font-size: @font-size-title;
  }
  .content-font() {
    font-size: @font-small;
  }
  .footer__logo {
    font-size: 30px;
    
  }
  .footer__group {
    display: flex;
    > ul {
      > h2 {
        .title-font();
      }
    }
    .footer-group-buy {

    }
    .footer-group-sell {
      
    }
  }
  .footer__email-form {
    float: right;
    > h2 {
      
    }
    p {
      
    }
  }
}