@import (reference) "~@/styles/index.less";
.comp-tag {
    display: inline-block;
    padding: 0 18px;
    .font(18px, 500, #FFFFFF);
    border-radius: 4px;

    &.success {
        background-color: #6DD230;
    }

    &.fail {
        background-color: #FF0048;
    }

}

.ismobile {
  .comp-tag {
    display: inline-block;
    padding: 0 .18rem;
    .font(.18rem, 500, #FFFFFF);
    border-radius: 4px;
  }
}