.comp-tag {
    display: inline-block;
    padding: 0 18px;
    line-height: 20px;
    font-size: 12px;
    font-family: HelveticaNeue-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;

    &.success {
        background-color: #00D7B8;
    }

    &.fail {
        background-color: #FF5858;
    }

}

.ismobile {
    .comp-tag {
        padding: 0 .16rem;
        line-height: .2rem;
        font-size: .12rem;
        border-radius: .15rem;
    }
}