@import (reference) "~@/styles/index.less";

@world: {
  .comp-tag {
    display: inline-block;
    padding: 0 18*@px;
    text-align: center;
    // 这个字体，因为是tag的样式，还是有变化比较好
    .font(18*@px, 500, #ffffff);
    border-radius: 4*@px;

    &.success {
      background-color: #6dd230;
    }

    &.fail {
      background-color: #ff0048;
    }
    &.padding {
      background-color: #00AEEF;
    }
  }
}

.hello(@world);
