@import (reference) "~styles/index.less";
@world: {
  .comp-info-card {
    border-radius: 6*@px;
    border: 1*@px solid rgba(233, 233, 233, 1);
    padding: 15*@px;
    .edit-button {
      color: #00AEEF;
    }
    > header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1*@px solid rgba(233, 233, 233, 1);
      margin-bottom: 12*@px;
      > h3 {
        .font(18*@f, 600, #222222);
        padding-bottom: 12*@px;
      }
    }
  }

  .ismobile #root {
    .comp-info-card {
      border-radius: 0.16rem;
      border: 0.03rem solid rgba(233, 233, 233, 1);
      > header {
        border-bottom: 0.03rem solid rgba(233, 233, 233, 1);
        margin-bottom: 0.3rem;
        > h3 {
          .font(0.48rem, 600, #222222);
          padding-bottom: 0.3rem;
        }
      }
    }
  }

}
.hello(@world);
