.page-order-container {
  width: 1023px;
  // max-height: 838px;
  box-shadow: -2px 0px 8px 0px rgba(0, 0, 0, 0.05);
  margin: 80px auto 87px;
  border-radius: 0px 8px 8px 0px;

  &>section {
    background-color: #fff;
    padding: 34px 30px;

    &>p {
      padding: 0 20px;
      height: 52px;
      font-size: 20px;
      font-family: HelveticaNeue;
      color: rgba(0, 207, 255, 1);
      line-height: 52px;
    }

    .info-container {
      border-radius: 4px;
      border: 1px solid rgba(245, 245, 245, 1)
    }
  }
}