.page-order-container {
  width: 1023px;
  padding-bottom: 40px;
  background-color: #fff;

  box-shadow: -2px 0px 8px 0px rgba(0, 0, 0, 0.05);
  margin: 132px auto 127px;
  border-radius: 0px 8px 8px 0px;

  .reviews-wrapper {
    text-align: center;
    padding:40px 0 18px;

    h3 {
      font-size:16px;
      font-weight:500;
      color:#000;
      line-height: 16px;
      margin-bottom:20px;
    }
  }
}

.ismobile {
  .page-order-container {
    width: 100%;
    margin: 0;

    .reviews-wrapper {
      text-align: center;
      padding:.3rem 0 .18rem;
  
      h3 {
        font-size:.16rem;
        font-weight:500;
        color:#000;
        line-height: .24rem;
        margin-bottom:.2rem;
      }
      .ant-btn {
        width:2.3rem !important;
        height:.44rem;
      }
    }
  }
}