.page-order-container {
  width: 1023px;
  padding-bottom: 40px;
  background-color: #fff;

  box-shadow: -2px 0px 8px 0px rgba(0, 0, 0, 0.05);
  margin: 132px auto 127px;
  border-radius: 0px 8px 8px 0px;
}

.ismobile {
  .page-order-container {
    width: 100%;
    margin: 0;
  }
}