@import (reference) "~buy/common/styles/index.less";

@p: {
  .payment-page {
    //.ant-checkbox-checked .ant-checkbox-inner {
    //  background: transparent;
    //  border: transparent;
    //}
    //.ant-checkbox-checked {
    //  background: @color-blue-liner-use;
    //  border-color: @color-blue-liner-use;
    //}
    .ant-checkbox-checked.ant-checkbox-disabled {
      .ant-checkbox-inner {
        background: #f5f5f5 !important;
      }
    }
    .placeholder {
      height: 30 * @px;
    }
    .paypal-container {
      position: relative;
      .paypal-button-mask {
        .canclick();
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 500 * @px;
      }
    }

    //.paypal-powered-by {
    //  display: none !important;
    //}
    //.buttons-container.button-group {
    //  .common-button:last-child {
    //    background: transparent;
    //  }
    //}
    //.paypal-powered-by {
    //  display: none;
    //}
    .paypayl-part {
      border: none !important;
      span {
        > span {
          display: inline-block;
          margin-left: 20 * @px;
        }
      }
      .img-container {
        padding: 10 * @px 5 * @px 5 * @px;
        border: 1px solid @color-border;
        img {
          width: 100 * @px;
        }
      }
    }
    .card {
      padding: 25 * @px 18 * @px;
      .mb({padding: 10 * @px;});
      border-bottom: 1px solid @color-border;
      &:last-child {
        border-bottom: none;
      }
    }
    .pay-card {
      .pay-card-container {
        border: 1px solid @color-border;
        margin-bottom: 16 * @px;
        .card:first-child {
          > span:first-child {
            white-space: nowrap;
          }
          .paycard-img-list {
            justify-content: flex-end;
          }
        }
        .ant-form-explain {
          margin-top: 5 * @px;
        }
        .ant-form-explain,
        .ant-form,
        .ant-form-item,
        .ant-input {
          font-size: 14 * @px;
        }
        > header {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .card {
          &:last-child {
            padding-bottom: 0;
            background: rgba(245, 247, 249, 1);
            svg {
              font-size: 20px;
            }
          }
        }
      }
    }
    .checkbox-container-group {
      border: 1px solid @color-border;
      border-radius: 4px;
      margin-top: 16 * @px;
      margin-bottom: 32 * @px;
      .checkbox-container {
        .card();
      }
    }
    .address {
      > h2 {
        margin-bottom: 0;
      }
      
    }
  }

  #ismobile {
    .pay-card {
      .pay-card-container {
        .ant-form-explain,
        .ant-form,
        .ant-form-item,
        .ant-input {
          font-size: 12 * @px;
        }
      }
    }
  }
};

.hello(@p);
