@import (reference) "~buy/common/styles/index.less";

@p1: {
  .user-login {
    .forget-button {
      position: relative;
      top: -15 * @px;
      &:not(:hover) {
        color: @color-gray;
      }
    }
  }
};

.hello(@p1);
