@import (reference) "~buy/common/styles/index.less";

@p1: {
  .productid-and-price {
    .productid-part {
      .product-id {
        color: rgba(55, 90, 125, 1);
      }
      .similar-number {
        display: inline-block;
        margin-left: 10 *@px;
        .canclick();
        .number {
          text-decoration: underline;
          color: rgba(68, 75, 84, 1);
        }
      }
    }
    .price-part-container {
      //margin-bottom: 10 * @px;
      display: flex;
      align-items: center;
      .price-part {
        display: flex;
        align-items: baseline;
        margin-right: 21 *@px;
        .buy-price {
          margin-right: 5 * @px;
        }
        .sku-price {
          > span:last-child {
            margin-left: 2 * @px;
            text-decoration: line-through;
          }
        }
      }
    }
    
  }
};

.hello(@p1);
