@import (reference) "~@/styles/index.less";
@import (reference) "~@/styles/font.less";
@import (reference) "~@/containers/commonCss/contact.less";
@world: {
  .page-sell-others-container {
    .thank-page {
      position: relative;
      top: -30*@px;
      > p {
        margin: 40*@px;
      }
      .common-button {
        display: block;
        margin: auto;
      }
      > a:last-child {
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 30*@px;
      }
    }
  }
}

.hello(@world);