@import (reference) "~buy/common/styles/index.less";

@p1: {
  .add-to-cart-button {
    .canclick();
    border: 1px solid rgba(55, 90, 125, 1);
    color: rgba(55, 90, 125, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6 *@px;
  }
};

.hello(@p1);
