@import (reference) "~buy/common/styles/index.less";

@p1: {
  .add-to-cart-out-button {
    @color: rgba(55, 90, 125, 1);
    &.common-button {
      background: transparent !important;
      color: @color;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      vertical-align: baseline;
      > * {
        vertical-align: baseline;
      }

      @height: 70*@px;
      height: @height;
      line-height: @height;
      font-size: 18 *@f;
      .mb({
        @height: 50*@px;
        height: @height;
        line-height: @height;
      });
        
        
    }
    &.added {
      background: @color;
      color: @white;
      .reset-css {
        display: flex;
        align-items: center;
        justify-content: center;
        > svg {
          flex: 0 0 40 *@px;
          //margin-right: 10 *@px;
        }
      }
    }
    .canclick();
    border: 1px solid @color;
    color: @color;
    //display: flex;
    //align-items: center;
    //justify-content: center;
    border-radius: 6 *@px;
  }
};

.hello(@p1);
