@import (reference) "~@/styles/index.less";
@import "../payment/payment--mobile.less";
.page-payment-container {
  .question {
    > p {
      font-size: @font-size-large;
    }
  }
  height: 100%;

  &.notlayout {
    & > .ant-row {
      padding-top: 0 !important;
    }
  }

  .fedex-bg {
    width: 90px;
    height: 24px;
    background: url("~@/images/yourphone/FedEx.png") no-repeat center / contain;
    background-size: 100%;
  }

  .USPS-bg {
    width: 101px;
    height: 24px;
    background: url("~@/images/yourphone/USPS.png") no-repeat center / contain;
    background-size: 100%;
  }

  .left-wrapper,
  .right-wrapper {
    .description {
      .set-font-color(14px, #9b9b9b);
      line-height: 18px;
    }
    .address {
      margin-top: 6px;
      .title {
        .set-font-color(12px, #000, bold);
        line-height: 16px;
      }
    }

    .difference {
      margin-top: 18px;
      .set-font-color(12px, #00bae5);
      line-height: 18px;
      cursor: pointer;
      &::before {
        content: "";
        display: inline-block;
        margin-right: 4px;
        width: 10px;
        height: 10px;
        background: url("~@/images/yourphone/circle-arrow.png") no-repeat;
        background-size: 100%;
      }
    }

    .form-wrapper {
      margin-top: 16px;
      .ant-form-item {
        margin-bottom: 6px;
      }
    }
  }

  // 覆盖antd的样式
  .ant-collapse-header {
    background-color: #fff;
    padding-left: 20px !important;
  }

  .ant-collapse {
    border-width: 2px;
    border-color: #f5f5f5;
  }
  .ant-collapse-item {
    border-width: 2px;
    border-color: #f5f5f5;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ant-collapse {
    &.active {
      box-shadow: 0px 2px 4px 0px rgba(0, 207, 255, 0.19);
      border: 2px solid rgba(0, 207, 255, 1);
      .ant-collapse-item {
        border-bottom: none;
      }
      .ant-collapse-content {
        border-top: none;
      }
    }
    .ant-collapse-content {
      border-top: none;
    }
  }
}

.page-payment-container {
  .page-padding();
  .page(790px);
  padding-bottom: 28px;
  h3 {
    .font(24px, 600, #131339);
    margin-bottom: 32px;
  }
  .question {
    .comp-choice-question {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-column-gap: 30px;
    }
    .question__option--container {
      margin-bottom: 24px;
    }
  }
  .check-box-container {
    text-align: center;
    padding-top: 17px;
    .insurance-tips {
      color: #272729;
      font-weight: 600;
      margin-left: 2px;
    }
  }
  .buttons-container {
    padding-top: 19px;
  }
  .comp-top-tag {
    &.recommand {
      background: #6dd230;
    }
    position: absolute;
    top: -12px;
    right: -12px;
    background: #ff0048;
  }
  .question__option--container {
    position: relative;
  }
}

.ismobile #root {
  .page-payment-container {
    padding-bottom: 2.13rem;
    h3 {
      .font(24px, 600, #131339);
      margin-bottom: 0.27rem;
    }
    .question {
      .comp-choice-question {
        display: flex;
        flex-direction: column;
      }
      .question__option--container {
        margin-bottom: 0.64rem;
      }
    }
    .check-box-container {
      text-align: left;
      padding-top: 0.61rem;
      .insurance-tips {
        color: #272729;
        font-weight: 600;
      }
    }
    .buttons-container {
      padding-top: 0.59rem;
    }
    .comp-top-tag {
      &.recommand {
        background: #6dd230;
      }
      position: absolute;
      top: -0.32rem;
      right: -0.32rem;
      background: #ff0048;
    }
    .question__option--container {
      position: relative;
    }
  }
}
