@import (reference) "~@/styles/index.less";
@import "../payment/payment--mobile.less";
.page-shipping-container {
  .page-padding();
  .page(790px);
  padding-bottom: 28px;
  h3 {
    .font(24px, 600, #131339);
    margin-bottom: 32px;
  }
  .choose-container {
    .container-border {
      height: 203px;
    }
  }
  .question {
    .comp-choice-question {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-column-gap: 30px;
    }
    .question__option--container {
      margin-bottom: 24px;
    }
  }
  .check-box-container {
    text-align: center;
    padding-top: 17px;
    .insurance-tips {
      color: #272729;
      font-weight: 600;
      margin-left: 2px;
    }
  }
  .buttons-container {
    padding-top: 19px;
  }
  .comp-top-tag {
    &.recommended {
      background: #6dd230;
    }
    position: absolute;
    top: -12px;
    right: -12px;
    background: #ff0048;
  }
  .question__option--container {
    position: relative;
  }
}

.ismobile #root {
  .page-shipping-container {
    padding-bottom: 2.13rem;
    h3 {
      .font(24px, 600, #131339);
      margin-bottom: 0.27rem;
    }
    .question {
      .comp-choice-question {
        display: flex;
        flex-direction: column;
      }
      .question__option--container {
        margin-bottom: 0.64rem;
      }
    }
    .check-box-container {
      text-align: left;
      padding-top: 0.61rem;
      .insurance-tips {
        color: #272729;
        font-weight: 600;
      }
    }
    .buttons-container {
      padding-top: 0.59rem;
    }
    .comp-top-tag {
      &.recommended {
        background: #6dd230;
      }
      position: absolute;
      top: -0.32rem;
      right: -0.32rem;
      background: #ff0048;
    }
    .question__option--container {
      position: relative;
    }
  }
}

//
//.sun {
//  border: 1px solid #E9E9E9;
//  border-radius:5px;
//  padding: 16px 4px 11px 13px;
//  > img {
//    width: 143px;
//    margin-bottom: 11px;
//
//  }
//}
//
//
//color {
//  color: #7E8396;
//}
//
//.font(9px, 500, #000000);
//
//.hello {
//  color: #1AB4E7;
//}
