@import (reference) "~@/styles/index.less";

@world: {
  .page-shipping-container {
    .fedex-bg {
      width: 120 * @px;
      height: 36 * @px;
      background: url("~@/images/yourphone/FedEx.png") no-repeat center /
        contain;
      background-size: 100%;
    }

    .USPS-bg {
      width: 215 * @px;
      height: 36 * @px;
      background: url("~@/images/yourphone/USPS.png") no-repeat center / contain;
      background-size: 100%;
    }
    .page-padding();
    .setpage((346 * 2 + 52) * @px);
    padding-bottom: 28 * @px;
    h3 {
      .font(24 * @f, 600, #131339);
      margin-bottom: 32 * @px;
    }
    .choose-container {
      display: flex;
      justify-content: space-between;
      > * {
        flex: 0 0 346 * @px;
      }
      .container-border {
        .canclick();
        padding: 16 * @px 4 * @px 11 * @px 13 * @px;
        .description {
          color: #7e8396;
          margin: 16 * @px 0 5 * @px;
        }
        .address {
          .font(14 * @f, 500, #000000);
          margin-bottom: 6 * @px;
        }
        .difference {
          color: #1ab4e7;
        }
      }
    }
    .question {
      margin-top: 25 * @px;
      .comp-choice-question {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 30 * @px;
      }
      .question__option--container {
        margin-bottom: 24 * @px;
      }
    }
    .check-box-container {
      text-align: center;
      padding-top: 17 * @px;
      > * {
        vertical-align: middle;
      }
      .insurance-tips {
        color: #272729;
        font-weight: 600;
        margin-left: 2 * @px;
      }
    }
    .buttons-container {
      padding-top: 19 * @px;
    }
    .comp-top-tag {
      &.recommended {
        background: #6dd230;
      }
      position: absolute;
      top: -12 * @px;
      right: -12 * @px;
      background: #ff0048;
    }
    .question__option--container {
      position: relative;
    }
  }

  .ismobile #root {
    .page-shipping-container {
      .choose-container {
        display: flex;
        flex-direction: column;
        > * {
          flex: 1 0 0;
        }
      }
      .container-border {
        margin-bottom: 20 * @px;
        padding-bottom: 40 * @px;
      }
      padding-bottom: 2.13rem;
      h3 {
        .font(24 * @f, 600, #131339);
        margin-bottom: 0.27rem;
      }
      .question {
        .comp-choice-question {
          display: flex;
          flex-direction: column;
        }
        .question__option--container {
          margin-bottom: 0.64rem;
        }
      }
      .check-box-container {
        text-align: left;
        padding-top: 0.61rem;
        .insurance-tips {
          color: #272729;
          font-weight: 600;
        }
      }
      .buttons-container {
        padding-top: 0.59rem;
      }
      .comp-top-tag {
        &.recommended {
          background: #6dd230;
        }
        position: absolute;
        top: -0.32rem;
        right: -0.32rem;
        background: #ff0048;
      }
      .question__option--container {
        position: relative;
      }
    }
  }
};
.hello(@world);
