@import (reference) '~@/styles/index.less';
//padding-left
.title() {
  font-size: 32px;
  font-weight: 500;
  color: #040e3f;
}

.font(@size, @weight, @color) {
  font-size: @size;
  font-weight: @weight;
  color: @color;
}

.page-about-us {
  background: @white;
  padding-bottom: 109px;
  > div.statement {
    > img {
      .pc({width: 50%; float: right;});
    }
    > section.statement__content {
      > h2 {
        margin-bottom: 40px;
        .font(36px, 500, #ffffff)
      }
      > p {
        color: #ffffff;
        font-size: 18px;
      }
    }
  }
  > section.values {
    padding: 81px @padding-value 65px;
    background: #f5f7f9;
    > h2 {
      margin-bottom: 94px;
      .title();
    }
    > ul.values-list {
      max-width: 1200px;
      margin: 0 auto 0;
      display: flex;
      flex-wrap: wrap;
      > li.values-list__item {
        text-align: center;
        margin: 0 30px 62px;
        > .icon {
          font-size: 30px;
        }
        > h3 {
          margin: 30px auto 10px;
          font-size: 18px;
          font-weight: 500;
          color: #222222;
        }
        > p {
          font-size: 16px;
          color: #898ea2;
        }
      }
    }
  }
  > section.team {
    padding-top: 62px;
    > h2 {
      margin-bottom: 77px;
      .title();
    }
    > ul.intro-card-list {
      max-width: 1200px;
      margin: 0 auto 0;
      display: flex;
      flex-wrap: wrap;
      > li.common-card {
        margin: 0 60px 100px;
        > img {
          width: 281px;
          border-radius: 50%;
        }
        > h3 {
          font-size: 26px;
          color: #000000;
          font-weight: 500;
        }
        > span {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
  > .button-container {
    padding: @padding-value;
    > button {
      margin: auto;
      display: block;
    }
  }
}
