@import (reference) "~@/styles/index.less";

@world: {
  .page-howmuch-container,
  .page-broken-container,
  .page-single-android-container,
  .page-single-iphone-container,
  .page-privacy-policy-container,
  .page-terms-container {
    .setpage(1300*@px);
    padding:60*@px 50*@px 95*@px;
    background: #fff;
    margin:102*@px auto 88*@px;
    h1 {
      font-size:30*@px;
      color:#111;
      line-height:36*@px;
      &.blue {
        color:@primary-color;
      }
    }
    .small {
      margin-top:30*@px;
      font-size:14*@f;
      line-height:normal;
      color:#808080;
      display: flex;
      span {
        display: inline-block;
        margin-right:30*@px;
      }

      .right {
        flex:1;
        text-align: right;
        em {
          width:18*@px;
          height:18*@px;
          display: inline-block;
          margin:0 2*@px;
          &:nth-of-type(1) {
            background: url(../../images/single/twitter.png) no-repeat center / 80%;
          }
          &:nth-of-type(2) {
            background: url(../../images/single/facebook.png) no-repeat center / 8*@px 15*@px;
          }
          &:nth-of-type(3) {
            background: url(../../images/single/google+.png) no-repeat center / 100%;
          }
          &:nth-of-type(4) {
            background: url(../../images/single/tumblr.png) no-repeat center / 8*@px 15*@px;
          }
        }
      }
    }

    .banner {
      width:100%;
      margin-top:34*@px;
    }
    .banner-m {
      display: none;
    }
    p {
      margin:25*@px 0;
      font-size:16*@f;
      color:#808080;
      line-height:normal;
    }
    h2 {
      font-size:24*@px;
      line-height:29*@px;
      color:#111;
      margin-top:60*@px;
    }

    ol {
      margin-top:-18*@px;
      font-size:16*@f;
      color:#808080;
      line-height:normal;
      padding-inline-start: 20*@px;
      padding-left:2em;
      li {
        list-style-type: decimal;
        list-style-position: outside;
        margin-bottom:8*@px;
      }

      ul {
        padding-left:2em;
        margin-top:0;
      }
    }

    ul {
      margin-top:-18*@px;
      font-size:16*@f;
      color:#808080;
      line-height:normal;
      padding-inline-start: 20*@px;
      padding-left:2em;
      li {
        list-style-type:disc;
        list-style-position: outside;
        margin-bottom:8*@px;
      }
    }

    .mail {
      color:#111;
      text-decoration: underline;
    }


    .img-box {
      overflow: hidden;
      .list {
        width:200*@px;
        margin-right:113*@px;
        float: left;
        margin-top:65*@px;

        &:nth-of-type(3n) {
          margin-right:0;
        }

        .top {
          display: flex;
          align-items: top;
          .number {
            width:20*@px;
            height:20*@px;
            background: #00BAE5;
            border-radius: 50%;
            text-align: center;
            line-height: normal;
            font-size:16*@f;
            color:#fff;
            margin-right:6*@px;
          }
          .title {
            flex:1;
            font-size:16*@f;
            p {
              color:#808080;
              margin:0;
            }
            span {
              color:#333;
              font-weight: bold;
              margin-top:14*@px;
              display: block;
              font-style: italic;

              em {
                font-style: normal;
                color:#808080;
              }
            }
          }
        }

        img {
          width:100%;
          margin-top:25*@px;
        }
      }
    }

    .list-box {
      .list {
        margin-top:61*@px;
        .header {
          .number {
            width:20*@px;
            height:20*@px;
            background: #00BAE5;
            border-radius: 50%;
            text-align: center;
            line-height: normal;
            font-size:16*@f;
            color:#fff;
            margin-right:6*@px;
            display: inline-block;
          }
          span.text {
            font-size:16*@f;
            color:#333;
            line-height:normal;
            font-weight: bold;
          }
        }

        img {
          margin-top:20*@px;
          width:486*@px;
          &.img-270 {
            width:270*@px;
          }
        }

        p {
          margin:24*@px 0;
          a {
            color:#333;
            text-decoration: underline;
          }
        }

        dl {
          font-size:16*@f;
          dt {
            color:#333333;
            margin-bottom:12*@px;
            margin-top:20*@px;
          }
          dd {
            color:#808080;
          }
        }
      }
    }
  }

};

.hello(@world);
