@import (reference) '~@/styles/index.less';
@import (reference) '~@/styles/color.less';

@font-size-title-: 40px;

// 有深厚的语义，表达的是，页面最顶端的h1标题。但是在命名的时候需要将样式和tag分离开
.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 58px auto 136px;
}

.page-faq-container {
  background: @white;
  > h1 {
  }
  
  > ul {
    > li.page-faq-container__objects {
      margin-bottom: 40px;
      > h2 {
        // 没有任何含义，语义的，写死的26
        font-size: 26px;
      }
      > .ant-collapse {
        background-color: transparent;
        border: none;
      }
      .ant-collapse-item {
        margin-bottom: 10px;
        background: @color-gray-g1;
        border: none;
        .ant-collapse-header {
          font-size: 26px;
          padding: 8px 24px;
          svg {
            transform: rotate(-90deg);
          }
        }
        .ant-collapse-content {
          border: none;
        }
      }
    }
    
  }
  > button.common-button {
    max-width: 456px;
    display: block;
    margin: auto;
    margin-top: 100px;
  }
}

.ismobile {
  
}