@import (reference) "~@/styles/index.less";

.page-help-howitworks {
  background: #f5f7f9;
  padding-bottom: 96px;
  > section.intro {
    padding-top: 68px;
    .page-padding();
    .page(1408px);
    > h2 {
      margin-bottom: 50px;
      .font(32px, 500, #222222);
    }
    > video {
      width: 100%;
    }
  }
  > ul.list {
    > .bg-container {
      background: @white;
      > li {
        flex-direction: row-reverse;
      }
    }
    li {
      .page(1408px);
      padding: 75px 0 79px;
      .page-padding();
      display: flex;
      justify-content: space-between;
      align-items: center;
      > .img-container {
        flex: 1;
        max-width: 568px;
        margin-right: 10px;
        > img {
          border-radius: 8px;
          width: 100%;
        }
      }
      > section {
        flex: 1;
        max-width: 680px;
        padding-right: 50px;
        > svg:first-child {
          font-size: 40px;
        }
        > h3 {
          margin: 30px auto 17px;
          .font(32px, 500, #222222);
        }
        .ant-collapse-header {
          .font(18px, 400, #000000);
          background: transparent;
          border-radius: 0 !important;
          border-bottom: 1px solid #e9e9e9;
        }
        .ant-collapse-item {
          margin-bottom: 15px;
        }
        .ant-collapse,
        .ant-collapse-item,
        .ant-collapse-item-active,
        ant-collapse-content-box,
        .ant-collapse-content {
          border: none;
          background: transparent;
        }
        .ant-collapse-content {
          background: transparent;
          .font(16px, 400, #7e8396);
        }
        .ant-collapse-content-box,
        .ant-collapse-header {
          padding-left: 0;
        }
        .ant-collapse-content-box {
          padding-bottom: 0;
        }
      }
    }
  }
  .button-container {
    .page-padding();
    > button {
      display: block;
      margin: auto;
    }
  }
}

.ismobile #root {
  .page-help-howitworks {
    background: #f5f7f9;
    padding-bottom: 2.77rem;
    > section.intro {
      padding-top: 0.58rem;
      .page-padding();
      .page(1408px);
      > h2 {
        margin-bottom: 1.25rem;
        .font(0.48, 500, #222222);
      }
      > video {
        width: 100%;
      }
    }
    > ul.list {
      > .bg-container {
        background: @white;
        > li {
          flex-direction: column-reverse;
        }
      }
      > li {
        flex-direction: column-reverse;
      }
      li {
        .page(1408px);
        padding: 0.48rem 0 1.39rem;
        .page-padding();
        display: flex;
        justify-content: space-between;
        align-items: center;
        > .img-container {
          flex: 1;
          max-width: 100%;
          width: 100%;
          margin-right: 0;
          > img {
            border-radius: 0.21rem;
            width: 100%;
          }
        }
        > section {
          flex: 1;
          max-width: 100%;
          padding-right: 0;
          > svg:first-child {
            font-size: 1.07rem;
          }
          > h3 {
            margin: 0.7rem auto 0.24rem;
            .font(0.85rem, 500, #222222);
          }
          .ant-collapse-header {
            .font(0.48rem, 400, #000000);
            background: transparent;
            border-radius: 0 !important;
            border-bottom: 1px solid #e9e9e9;
          }
          .ant-collapse-item {
            margin-bottom: 0.48rem;
          }
          .ant-collapse,
          .ant-collapse-item,
          .ant-collapse-item-active,
          ant-collapse-content-box,
          .ant-collapse-content {
            border: none;
            background: transparent;
          }
          .ant-collapse-content {
            background: transparent;
            .font(0.43, 400, #7e8396);
          }
          .ant-collapse-content-box,
          .ant-collapse-header {
            padding-left: 0;
          }
          .ant-collapse-content-box {
            padding-bottom: 0;
          }
        }
      }
    }
    .button-container {
      .page-padding();
      > button {
        display: block;
        margin: auto;
      }
    }
  }
}
