.page-help-howitworks {
    width: 1280px;
    margin: 0 auto;

    .article {
        height: 591px;
        display: flex;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
        position: relative;


        .col-1 {
            flex: 1;
            padding: 186px 0 0 142px;
            font-size: 48px;
            font-family: HelveticaNeue-Medium;
            font-weight: 500;
            color: rgba(0, 0, 0, 1);
            line-height: 58px;

            p:last-child {
                margin-top: 30px;
                width: 447px;
                font-size: 20px;
                font-family: HelveticaNeue;
                color: rgba(0, 0, 0, 1);
                line-height: 28px;
            }
        }

        .col-2 {
            width: 708px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .two-step-and-done {
        background-color: #ECFBFD;
        padding: 85px 173px 100px 173px;

        .title {
            font-size: 68px;
            font-family: Helvetica;
            color: rgba(0, 0, 0, 1);
            line-height: 72px;
            text-align: center;
        }

        .subtitle {
            margin-top: 15px;
            font-size: 30px;
            font-family: HelveticaNeue;
            color: rgba(136, 136, 136, 1);
            line-height: 28px;
            text-align: center;
        }

        .two-step {
            &>div {
                display: flex;

                &.two {
                    flex-direction: row-reverse;
                }

                .icon {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    img {
                        width: 119px;
                    }

                    p {
                        margin-top: 16px;
                        font-size: 36px;
                        font-family: HelveticaNeue;
                        color: rgba(0, 0, 0, 1);
                        line-height: 40px;
                        letter-spacing: -1px;
                    }
                }

                .content {
                    width: 680px;

                    p:nth-child(odd) {
                        font-size: 22px;
                        font-family: HelveticaNeue;
                        color: rgba(0, 0, 0, 1);
                        line-height: 28px;
                        margin-top: 40px;

                    }

                    p:nth-child(even) {
                        font-size: 22px;
                        font-family: HelveticaNeue;
                        color: rgba(155, 155, 155, 1);
                        line-height: 28px;
                        margin-top: 15px;
                    }

                    p:first-child {
                        margin-top: 87px;
                    }
                }
            }

            .two {
                margin-top: 129px;

                .icon {
                    align-items: center;
                    justify-content: center;
                }

                .content {
                    p:first-child {
                        margin-top: 0;
                    }
                }
            }

        }
    }

    .uptrade-different {
        padding-top: 65px;

        .title {
            font-size: 68px;
            font-family: Helvetica;
            color: rgba(0, 0, 0, 1);
            line-height: 72px;
            text-align: center;
        }

        table {
            margin-top: 90px;
            margin-left: 29px;

            th {
                width: 219px;
                height: 66px;
                text-align: center;
                font-size: 14px;
                font-family: HelveticaNeue-Medium;
                font-weight: 500;
                color: rgba(0, 0, 0, 1);
                line-height: 66px;
                background: rgba(248, 248, 248, 1);
            }

            tr {
                td {
                    border: solid 1px #F8F8F8;
                    background-color: #fff;
                    height: 60px;
                    font-size: 14px;
                    font-family: HelveticaNeue;
                    color: rgba(0, 0, 0, 1);
                    line-height: 60px;
                    text-align: center;

                    &:first-child {
                        background-color: rgba(248, 248, 248, 1);
                    }

                    .right {
                        margin-top: 18px;
                    }

                    .wrong {
                        margin-top: 19px;
                    }
                }
            }
        }
    }

    .button-group {
        margin-top: 60px;
        text-align: center;
        height: 179px;
    }

    .bg-white {
        background: #fff;
        padding: 0 173px;
    }
}

.ismobile {
  .page-help-howitworks{
    padding-top: 0.7rem;
    width: 100%;
    .article{
      display: block;
      height: 5.21rem;
      background: url("~@/images/single/howitworks-top.png") no-repeat center center / 100% 100%;
      box-shadow: none;
      .col-1{
        width: 100%;
        box-sizing: border-box;
        padding: 0.45rem 0.3rem 0 0.3rem;
        flex-grow: 0;
        flex-shrink: 0;
        line-height: 0.5rem;
        p {
          display: inline;
          line-height: 0.5rem;
          font-size: 0.4rem;
          br{
            display: none;
          }
          &:last-child {
            display: block;
            width: 100%;
            margin-top: 0.2rem;
            font-size: 0.16rem;
            line-height: 0.24rem;
          }
        }
      }
      .col-2{
        display: none;
      }
    }
    .two-step-and-done{
      padding: 0.3rem 0.3rem 0.4rem 0.3rem;
      text-align: center;
      .title{
        line-height: 0.44rem;
        font-size: 0.34rem;
      }
      .subtitle{
        margin-top: 0.2rem;
        font-size: 0.16rem;
        line-height: 0.2rem;
      }
      .two-step{
        .one, .two{
          display: block;
          margin: 0;
          .icon{
            display: block;
            flex: none;
            padding-top: 0.3rem;
            p{
              padding: 0.2rem 0;
              font-size: 0.2rem;
              line-height: 0.26rem;
            }
          }
          .content{
            width: 100%;
            p{
              &:nth-child(odd) {
                margin-top: 0.3rem;
                font-size: 0.16rem;
                line-height: 0.28rem;
              }
              &:nth-child(even) {
                margin-top: 0.15rem;
                font-size: 0.14rem;
                line-height: 0.2rem;
              }
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
        .one{
          .icon{
            img{
              width: 0.7rem;
            }
          }
        }
        .two{
          .icon{
            img{
              width: 0.71rem;
            }
          }
        }
      }
    }
    .bg-white{
      padding: 0 0.25rem 0.4rem 0.25rem;
      .uptrade-different{
        padding-top: 0.3rem;
        .title {
          font-size: 0.34rem;
          line-height: 0.44rem;
          text-align: center;
        }

        table {
          margin: 0.3rem 0 0 0 ;
          th {
            width: 0.75rem;
            height: 0.66rem;
            text-align: center;
            font-size: 0.12rem;
            line-height: 0.15rem;
            background: #F8F8F8;
          }

          tr {
            td {
              border: solid 1px #F8F8F8;
              background-color: #fff;
              height: 0.6rem;
              font-size: 0.12rem;
              line-height: 0.14rem;
              text-align: center;
              &:first-child {
                background-color: #F8F8F8;
                padding: 0 0.08rem;
              }
              .right, .wrong{
                margin-top: 0;
                height: 0.15rem;;
              }
            }
          }
        }
      }
      .button-group {
        margin: 0;
        padding-top: 0.3rem;
        height: 1.1rem;
        box-sizing: border-box;
        .ant-btn{
          width: 2rem!important;
          height: 0.4rem!important;
        }
      }
    }
  }
}