.page-help-howitworks {
    width: 1280px;
    margin: 0 auto;

    .article {
        height: 591px;
        display: flex;

        .col-1 {
            flex: 1;
        }

        .col-2 {
            width: 708px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}