.ismobile {
    // 布局模块公用
    .page-privacy-policy-container,.page-terms-container {
        width: 3.45rem;
        margin: 0 .15rem;
        margin-top: 1.1rem;
        margin-bottom: .7rem;
        
        
        h1 {
            padding-top: .2rem;
        }
        
    }

    
}