.page-single-why-container {
  width: 1280px;
  margin: 0 auto;

  .banner {
    height: 590px;
    display: flex;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
    position: relative;

    .left {
      margin-top: 127px;
      width: 457px;
      margin-left: 142px;

      h1 {
        font-size: 48px;
        line-height: 58px;
        font-weight: normal;
      }

      p {
        margin-top: 40px;
        font-size: 20px;
        color: #9b9b9b;
        margin-bottom: 14px;
        line-height: 28px;
      }
    }
  }

  .section-box {
    background: #ECFBFD;
    padding: 100px 174px 110px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);

    dd {
      display: flex;
      margin-bottom: 80px;

      img {
        width: 140px;
        height: 145px;
      }

      .box {
        flex: 1;

        h2 {
          font-size: 22px;
          color: #000;
          line-height: 28px;
        }

        p {
          margin-top: 15px;
          line-height: 28px;
          font-size: 22px;
          color: #9b9b9b;
        }
      }

      &:nth-of-type(2n) {
        .box {
          order: 0;
        }

        img {
          order: 1;
          margin-left: 98px;
        }
      }

      &:nth-of-type(2n-1) {
        .box {
          margin-left: 98px;
        }

      }
    }

    .button-group {
      width: 232px;
      margin: 0 auto;
    }
  }

  .contact-us-box {
    background: #fff;
    padding: 80px 0;

    h2 {
      font-size: 60px;
      color: rgba(0, 0, 0, 1);
      line-height: 74px;
      text-align: center;
      font-weight: normal;
    }

    .form-box {
      margin: 0 128px;
    }
  }
}


.ismobile {
  .page-single-why-container {
    padding-top:.7rem;
    width: 100%;
    .banner {
      height:5rem;
      background: url(../../images/single/m_why_banner.png) no-repeat left bottom;
      background-size:100%;

      .left {
        padding:.3rem .3rem 0;
        margin:0;
        width: 100%;
        h1 {
          font-size:.4rem;
          line-height: .5rem;
          br {
            display: none;
          }
        }
        p {
          font-size:.16rem;
          line-height:.24rem;
          margin-top:.2rem;
          color:#000;
          margin-bottom:.35rem;
        }
        .ant-btn {
          width:2rem !important;
          height:.44rem;
          margin:0 auto;
          display: block;
        }
      }
      img {
        display: none;
      }
    }

    .section-box {
      padding:.3rem .3rem .4rem;
      dt {
        dd {
          display: block;
          img {
            display: block;
            margin:0 auto;
            width:1.5rem;
            height:auto;
          }
          .box {
            margin-left:0;
            margin-top:.2rem;
            text-align: center;
            h2 {
              font-size:.16rem;
              line-height: .28rem;
            }
            p {
              font-size:.14rem;
              line-height: .2rem;
              margin-top:.15rem;
            }
          }
        }
      }
      .button-group {
        width:2rem;
        .ant-btn {
          width:100% !important;
          height:.4rem !important;
        }
      }
    }

    .contact-us-box {
      padding-top:.3rem;
      h2 {
        font-size:.34rem;
      line-height:.44rem;
      }
      .form-box {
        margin:0 auto;
        width:3.3rem;
      }
    }
  }
}