.page-single-why-container {
  width:1280px;
  margin: 0 auto;
  .banner {
    height:590px;
    display: flex;
    .left {
      margin-top:127px;
      width:457px;
      margin-left:142px;
      h1 {
        font-size:48px;
        line-height:58px;
      }
      p {
        margin-top:40px;
        font-size: 20px;
        color:#9b9b9b;
        margin-bottom:14px;
        line-height:28px;
      }
    }
  }
}