@import (reference) "~buy/common/styles/index.less";

@p1: {
  .act-timer {
    display: flex;
    align-items: center;
    .img-container {
      margin-right: 2 * @px;
      margin-left: 5 * @px;
      line-height: 0;
      > * {
        vertical-align: middle;
      }
      img {
        width: 16 *@px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      font-size: 10*@f;
      .timer {
        color: @actred;
        min-width: 210 *@px;
        .mb({
          min-width: 140 *@px;
        });
      }
      span:first-child {
        font-weight: @mediumWeight;
        //font-size: 18 *@px;
      }
    }
  }
};

.hello(@p1);

