@import (reference) "~styles/index.less";

@world: {
  .comp-review-card {
    margin: 0 20*@px;
    padding: 40*@px 32*@px 32*@px;
    background: white;
    box-shadow: 0*@px 1*@px 10*@px 0*@px rgba(0, 0, 0, 0.07);
    width: 416*@px;
    .ant-rate-star-full {
      color: #f5be18;
    }
    > header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 21*@px;
      > span.date {
        color: #808080;
      }
    }
    > p {
      @height: 180*@px;
      .font(16*@f, 400, #040e3f);
      .two-line-process(@height, 7);
      height: @height;
      margin-bottom: 10*@px;
    }
    > footer {
      .font(16*@f, 400, #131339);
    }
  }

  .ismobile #root {
    .comp-review-card {
      margin: auto;
      padding: 0.53rem 0.59rem 0.75rem;
      background: white;
      box-shadow: 0px 2*@px 5*@px 0px rgba(0,0,0,0.05);
      margin-bottom: 5*@px;
      width: 7.47rem;
      > header {
        display: none;
      }
      > p {
        @height: 2.56rem;
        .font(0.48rem, 600, #272729);
        .two-line-process(@height, 4);
        height: @height;
        margin-bottom: 0.43rem;
      }
      > footer {
        margin-top: 0.43rem;
        .font(0.32rem, 400, #8d8d94);
      }
    }
  }
};
.hello(@world);
