@import (reference) '~@/styles/index.less';

.comp-review-card {
  margin: 0 20px;
  padding: 40px 32px 32px;
  background: white;
  width: 416px;
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
    > span.date {
      color: #808080;
    }
  }
  > p {
    @height: 180px;
    .font(16px, 400, #040E3F);
    .two-line-process(@height, 7);
    height: @height;
    margin-bottom: 10px;
  }
  > footer{
    .font(16px, 400, #131339)
  }
}