.not-found {
    .body {
      background-color: #fff;
      overflow: hidden;
      img {
        margin: .88rem auto .6rem;
        display: block;
        width:1.6rem;
      }
      .info {
        font-size:.14rem;
        color:#333;
        text-align: center;
      }
    }
  }