@import (reference) "~buy/common/styles/index.less";

@p1: {
  .content-tag-container {
    > li {
      flex: 0 0 170 * @px;
    }
    > li.long {
      //增加了revised
      flex-basis: auto !important;
    }
  }
};

.hello(@p1);
