@import (reference) "~styles/index.less";

@world: {
  .page-difference-modal {
    .ant-modal-header {
      border-bottom: none;
    }
    .common-button {
      max-width: 100%;
      margin-top: 32 * @px;
    }
    .ant-modal-body {
      padding-top: 0;
    }
    .ant-form-item {
      margin-bottom: 0;
    }
    .canclick {
      color: #1ab4e7;
      margin-top: 32 * @px;
    }
  }

  .page-difference {
    > div.content-container {
      padding-top: 24 * @px;
      > section.revised-part {
        flex: 1;
        .revised-line {
          padding-bottom: 21 * @px;
          border-bottom: 1 * @px solid @color-border;
          margin-bottom: 30 * @px;
          > h3 {
            .font(26 * @f, 500, #000000);
          }
          > div {
            .font(26 * @f, 500, #222222);
          }
          > .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          > .price-list {
            //width: 40%;
            display: grid;
            //grid-template-columns: 500px;
            grid-row-gap: 20 * @px;
            .mb({grid-row-gap: 10 * @px;});
            //justify-content: end;
            > li.mytb {
              .pc({justify-content: end;});
              //justify-items: end;
              > span:last-child {
                justify-self: end;
              }
              display: grid;
              grid-template-columns: auto  100 * @px;
              .mb({grid-template-columns: auto  50 * @px;});
            }
            > .red-tips {
              color: red;
              text-align: right;
            }
          }
        }
      }
      @max-width: 1000 * @px;
      .accept-line {
        .setpage(@max-width);
        display: flex;
        justify-content: space-between;
        margin-bottom: 15 * @px;
        align-items: center;
        > button.common-button {
          //max-width: 200*@px;
          //height: 40*@px;
        }
        .tips {
          display: flex;
          justify-content: center;
          align-items: center;
          > span:first-child {
            .font(16 * @f, 500, #1ab4e7);
          }
        }
      }
      > section.video-part {
        //.setpage(@max-width);
        text-align: center;
        text-align: center;
        margin: 40 * @px auto;
        > p {
          font-size: 16 * @f;
          margin-bottom: 21 * @px;
        }
        > video {
          width: 100%;
          margin-bottom: 21 * @px;
        }
      }
    }
  }

  .ismobile {
    .page-difference {
      > div.content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 24rem * @px2rem;
        > section.revised-part {
          flex: 1;
          .revised-line {
            //display: block;
            //text-align: center;
            //padding-bottom: 21rem * @px2rem;
            //border-bottom: none;
            //margin-bottom: 30rem * @px2rem;
            > h3 {
              .font(18rem * @px2rem, 500, #000000);
              //padding-bottom: 21rem * @px2rem;
              //margin-bottom: 15rem * @px2rem;
              //border-bottom: 1px solid @color-border;
            }
            > div {
              //position: absolute;
              //display: block;
              .font(18rem * @px2rem, 500, #222222);
            }
          }
        }
        > section.video-part {
          max-width: 100%;
          width: 100%;
          > p {
            font-size: 16rem * @px2rem;
            margin-bottom: 21rem * @px2rem;
          }
          > video {
            width: 100%;
            margin-bottom: 21rem * @px2rem;
          }
        }
        .accept-line {
          text-align: center;
          display: block;
          justify-content: space-between;
          margin-bottom: 15rem * @px2rem;
          > button.common-button {
            //max-width: 200rem * @px2rem;
            //height: 40rem * @px2rem;
            margin-bottom: 25rem * @px2rem;
          }
          .tips {
            display: flex;
            justify-content: center;
            align-items: center;
            > span:first-child {
              .font(16rem * @px2rem, 500, #1ab4e7);
            }
          }
        }
      }
    }
  }
};

.hello(@world);
