@import (reference) "~@/styles/index.less";

.page-difference {
  > div.content-container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    > section.revised-part {
      flex: 1;
      max-width: 400px;
      .revised-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 21px;
        border-bottom: 1px solid @color-border;
        margin-bottom: 30px;
        > h3 {
          .font(26px, 500, #000000);
        }
        > div {
          .font(26px, 500, #222222);
        }
      }
    }
    > section.video-part {
      max-width: 448px;
      > p {
        font-size: 16px;
        margin-bottom: 21px;
      }
      > video {
        width: 100%;
        margin-bottom: 21px;
      }
    }
    .accept-line {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      > button.common-button {
        max-width: 200px;
        height: 40px;
      }
      .tips {
        display: flex;
        justify-content: center;
        align-items: center;
        > span:first-child {
          .font(16px, 500, #1ab4e7);
        }
      }
    }
  }
}

.ismobile {
  .page-difference {
    > div.content-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 0.24rem;
      > section.revised-part {
        flex: 1;
        .revised-line {
          display: block;
          text-align: center;
          padding-bottom: 0.21rem;
          border-bottom: none;
          margin-bottom: 0.3rem;
          > h3 {
            .font(0.26rem, 500, #000000);
            padding-bottom: 0.21rem;
            margin-bottom: 0.15rem;
            border-bottom: 1px solid @color-border;
          }
          > div {
            //position: absolute;
            display: block;
            .font(0.26rem, 500, #222222);
          }
        }
      }
      > section.video-part {
        max-width: 100%;
        width: 100%;
        > p {
          font-size: 0.16rem;
          margin-bottom: 0.21rem;
        }
        > video {
          width: 100%;
          margin-bottom: 0.21rem;
        }
      }
      .accept-line {
        text-align: center;
        display: block;
        justify-content: space-between;
        margin-bottom: 0.15rem;
        > button.common-button {
          max-width: 2rem;
          height: 0.4rem;
          margin-bottom: 25px;
        }
        .tips {
          display: flex;
          justify-content: center;
          align-items: center;
          > span:first-child {
            .font(0.16rem, 500, #1ab4e7);
          }
        }
      }
    }
  }
}
