.comp-order-sale {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
  .information-list {
    border-bottom: none;
  }
}

.ismobile {
  .comp-order-sale {
    display: flex;
    flex-direction: column;
  }
}
