@import (reference) "~@/styles/index.less";

.comp-order-machineInfo {
  .information-list {
    border-bottom: 1px solid @color-border;
  }
  p.total {
    text-align: right;
    padding-top: 20px;
    & > span {
      &:first-child {
        color: #848484;
        margin-right: 55px;
      }
      &:last-child {
        .font(16px, 500, #000000);
      }
    }
  }
}

.ismobile {
  .comp-order-machineInfo {
    p.total {
      text-align: right;
      padding-top: 0.2rem;
      & > span {
        &:first-child {
          color: #848484;
          margin-right: 0.55rem;
        }
        &:last-child {
          .font(0.16rem, 500, #000000);
        }
      }
    }
  }
}
