@import (reference) "~@/styles/index.less";

.comp-order-progressBar {
  margin: 0 -15px;
  height: 192px;
  display: flex;
  padding: 0;
  align-items: center;
  padding-bottom: 31px;
  border-bottom: 1px solid @color-border;
  .current {
    .font(14px, 500, #131339);
  }

  .title {
    color: #848484;
  }

  .date {
    font-size: 10px;
    color: #7E8396;
  }
  .dot {
    flex: 1;
    height: 100%;
    text-align: center;
    position: relative;

    &::before {
      content: " ";
      display: block;
      height: 1px;
      width: calc(50% - 7px);
      background-color: #bbbbbb;
      top: 77px;
      position: absolute;
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      content: " ";
      display: block;
      height: 1px;
      width: calc(50% - 7px);
      background-color: #bbbbbb;
      left: calc(50% + 7px);
      top: 77px;
      position: absolute;
    }

    .dot-icon {
      display: inline-block;
      vertical-align: top;
      width: 14px;
      height: 14px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &.dot-active {
      .dot-icon {
        background-color: #848484;
      }

      &::before,
      &::after {
        background-color: #848484;
      }
    }

    .currentMark {
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;

      &::after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-width: 0 9px 9px;
        border-style: solid;
        border-color: transparent transparent #fff;
        position: relative;
        top: -9px;
        left: -9px;
      }
    }

    .child-mark {
      position: absolute;
      color: #bbb;
      top: 112px;
      width: 100%;

      &.child-mark-current {
        top: 53px;
        z-index: 1;

        .title {
          margin-top: 15px;
        }
      }
    }
  }

  // children css propertities
  .icon {
    width: 44px;
    height: 44px;
    display: inline-block;
    vertical-align: top;

    & > img {
      height: 100%;
    }
  }
}

.ismobile {
  .comp-order-progressBar {
    margin: 0 -0.15rem;
    height: 1.3rem;
    padding: 0;
    display: block;
    overflow: hidden;

    &.mobileHideLeft {
      position: relative;
      left: -1.83rem;
      width: 5.58rem;
    }

    .dot {
      display: inline-block;
      min-width: 0.9rem;

      .dot-icon {
        top: 0.32rem;
      }

      &::after {
        width: 0.39rem;
        top: 0.38rem;
      }

      &::before {
        width: 0.39rem;
        top: 0.38rem;
      }

      .child-mark {
        top: 0.62rem;

        &.child-mark-current {
          top: 0.2rem;

          .title {
            margin-top: 0.06rem;
            font-weight: 500;
          }

          .icon {
            width: 0.36rem;
            height: 0.36rem;
          }
        }

        .title {
          padding: 0 0.135rem;
          font-size: 0.12rem;
          line-height: 0.16rem;
        }
        
      }

      .currentMark {
        &::after {
          border-width: 0 0.05rem 0.06rem;
          top: -0.06rem;
          left: -0.05rem;
        }
      }
    }
  }
}
