@import (reference) '~@/styles/index.less';

.information-list {
  .block {
    margin-bottom: 10px;
  }
}

.normal {
  color: #000000;
  font-size: 14px;
  font-family: Poppins;
}

.comp-order-userInfo {
  
}
