@import (reference) '~@/styles/index.less';
ul.information-list {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  > li {
    > span:first-child {
      font-size: 14px;
      color: #848484;
      margin-bottom: 8px;
    }
    span {
      font-size: 16px;
      display: block;
    }
  }
}

.information-list {
  .block {
    margin-bottom: 10px;
  }
}

.hehe {
  
}

.title {
  
}


.content {
  
}


.normal {
  color: #000000;
  font-size: 14px;
  font-family: Poppins;
}

.comp-order-userInfo {
  
}
