@import (reference) "~@/styles/index.less";
// 模块公用css
@world: {
  .price-view {
    > [data-matched="true"] {
      color: #1ab4e7;
    }
    > [data-matched="false"] {
      color: #ff0000;
    }
  }
  .line-with-title {
    display: flex;
    align-items: center;
    padding-top: 14*@px;
    padding-bottom: 10*@px;
    border-bottom: 1*@px solid @color-border;
    > h3 {
      .font(18*@f, 600, #222222);
      margin-right: 60*@px;
    }
  }
  ul.information-list {
    display: flex;
    padding: 18*@px 9*@px 0*@px;
    > * {
      flex: 1 1 0;
    }
    li {
      margin-bottom: 20*@px;
      > span:first-child {
        font-size: 14*@f;
        color: #848484;
        margin-bottom: 8*@px;
      }
      span {
        font-size: 16*@f;
        display: block;
      }
    }
  }

  .ismobile {
    ul.information-list {
      flex-direction: column;
      > * {
        flex: 1 1 0;
      }
      li {
        margin-bottom: 16*@px;
      }
    }
  }
}
.hello(@world);