@import (reference) "~@/styles/index.less";
// 模块公用css
ul.information-list {
  display: flex;
  > * {
    flex: 1 1 0;
  }
  //display: grid;
  //grid-template-columns: repeat(3, 33.33%);
  > li {
    > span:first-child {
      font-size: 14px;
      color: #848484;
      margin-bottom: 8px;
    }
    span {
      font-size: 16px;
      display: block;
    }
  }
}

.line-with-title {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid @color-border;
  > h3 {
    .font(18px, 600, #222222);
    margin-right: 60px;
  }
}

.ismobile {
  .line-with-title {
    display: flex;
    align-items: center;
    padding-bottom: .1rem;
    border-bottom: 1px solid @color-border;
    > h3 {
      .font(.18rem, 600, #222222);
      margin-right: .60rem;
    }
  }
}