@import (reference) "~@/styles/index.less";
// 模块公用css
@world: {
  .order-information-page {
    @padding-left: 9 * @px;
    .comp-tag {
      font-size: 14 * @px;
      padding: 5 * @px 5 * @px;
    }
    .content-tag-container {
      display: flex;
      align-items: flex-start;
      > *:first-child {
        flex: 0 0 170*@px;
      }
      > *:last-child {
        flex: 0 0 10*@px;
      }
    }
    .line-with-title {
      padding-top: 14 * @px;
      padding-left: @padding-left;
      padding-bottom: 10 * @px;
      border-bottom: 1 * @px solid @color-border;
      > h3 {
        .font(18 * @px, 600, #222222);
        .mb({
          .font(14 * @px, 600, #222222);
        })
      }
    }
    ul.information-list {
      display: flex;
      padding: 18 * @px @padding-left 0 * @px;
      > * {
        flex: 1 1 0;
      }
      li {
        margin-bottom: 20 * @px;
        > span:first-child {
          font-size: 14 * @f;
          color: #848484;
          margin-bottom: 8 * @px;
        }
        span {
          font-size: 16 * @f;
          display: block;
        }
      }
    }

    .ismobile {
      ul.information-list {
        flex-direction: column;
        > * {
          flex: 1 1 0;
        }
        li {
          margin-bottom: 16 * @px;
        }
      }
    }
    .price-view {
      > [data-matched="true"] {
        color: #1ab4e7;
      }
      > [data-matched="false"] {
        color: #ff0000;
      }
    }
  }
};
.hello(@world);
