@import (reference) "~@/styles/index.less";

.order-information-page {
  padding-bottom: 158px;
  .page(960px);
  .header-title {
    margin-bottom: 15px;
  }
  > h2 {
    .font(26px, 500, #131339);
    margin-bottom: 25px;
  }
  .order-container {
    padding: 15px;
    border: 1px solid @color-border;
    border-radius: 8px;
  }
  .panel-header-title {
    .font(18px, 600, #222222);
  }
}
