@import (reference) "~buy/common/styles/index.less";

@p1: {
  .compare-page {
    padding-bottom: 160 * @px;
    .mb({
      @padding-value: 3vw;
      padding: 15 *@px @padding-value 0 @padding-value;
      padding-bottom: 64 *@px;
    });

    @perLineWidth: 208 *@px + 40 *@px;
    @perLineGap: 32 *@px;
    > .title-container:first-child {
      > h1:first-child {
        font-size: 32 * @px;
        .mb({
          font-size: 22 * @px;
        });
        text-align: center;
        padding: 30 * @px 0;
        .pc({padding: 64 * @px;});
        border-bottom: 1px solid @color-border;
      }
    }
    .compare-item-list-container {
      .pc({
        padding-top: 50 *@px;
        .setpage(5 * (@perLineWidth + @perLineGap));
      });
      .mb({
        overflow-x: scroll;
        width: 100%;
        //width: 5 * (@perLineWidth + @perLineGap);
      });
      display: grid;
      grid-template-columns: repeat(5, @perLineWidth);
      justify-content: space-between;
      .mb({
        @padding-value: 3vw;
        @perLineGap: 2vw;
        @perLineWidth: (100vw  - 2 * @padding-value - @perLineGap) / 2 ;
        grid-template-columns: repeat(4, @perLineWidth);
        grid-column-gap: @perLineGap;
        //width: 100vw - 14 * @padding-value;
        //width: 4 * @perLineWidth + 3 * @perLineGap;
      });
      //grid-column-gap: @perLineGap;
    }
    .go-back-button {
      .canclick();
      text-align: center;
      > * {
        vertical-align: middle;
      }
      font-size: 18 *@f;
      margin-top: 100 *@px;
      .mb({
        margin-top: 50 *@px;
      });
      img {
        width: 22 *@f;
        margin-right: 10 *@px
      }
    }
    .render-top-part {
      .button-container {
        //height: 80 *@px;
        margin-bottom: 20 *@px;
        > .common-button {
          margin: 16 *@px auto;
        }
        > .remove {
          .canclick();
          color: rgba(224, 32, 32, 1);
          text-align: center;
        }
      }
      .compare-swiper-part {
        border: 1px solid @color-border;
        height: 400 *@px;
        .mb({
          height: 360 *@px;
        });
        .content-container {
          display: flex;
          flex: 1;
          flex-direction: column;
          padding: 10 *@px;
          .price-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .pc({
              h2 {
                font-size: 18 *@f;
                font-weight: @boldWeight;
              }
            });
            .mb({
              h2 {
                font-size: 16 *@f;
                font-weight: @boldWeight;
              }
            });
          }
          > * {
            margin-bottom: 4 * @px;
          }
          .title() {
            .font(16 * @px, @boldWeight, rgba(34, 34, 34, 1));
          }
          .ok () {
            .font(12 * @px, @normalWeight, rgba(59, 186, 0, 1));
          }
          > h2 {
            .title();
          }
          > .attr {
            font-size: 12 * @px;
          }
          > .condition {
            .ok();
          }
          > .id {
            .font(12 * @px, @normalWeight, rgba(136, 136, 136, 1));
          }
          > .price {
            > * {
              vertical-align: middle;
            }
            .title();
            img.sale-tag {
              display: inline-block;
              margin-left: 15 * @px;
              width: 35 * @px;
              .mb({
                margin-left: 10 * @px;
                width: 25 * @px;
              })
            }
          }
        }
        &.empty {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          span {
            display: inline-block;
            margin-top: 5 *@px;
            font-size: 16 *@px;
            font-weight: @boldWeight;
            .canclick();
          }
        }
      }
    }
    .grid-block {
      min-height: 40 *@px;
      border-top: 1px solid @color-border;
      padding: 8 *@px 0;
      table {
        font-size: 12 *@f !important;
        width: 100% !important;
        tr {
          height: auto !important;
          display: flex;
          flex-direction: column;
          align-items: center;
          > td {
            height: 100% !important;
            width: 100% !important;
            margin-bottom: 30 *@px;
            word-break: break-all;
            white-space: pre-wrap !important;
          }
        }
      }
      .sub-title {
        color: rgba(168, 168, 168, 1);
        font-size: 12 *@f;
      }
      &.title {
        color: rgba(168, 168, 168, 1);
      }
    }
  }
  .render-content-img {
    position: relative;
    width: 100%;
    .arrow {
      @size: 24px;
      font-size: 26px;
      position: absolute;
      width: @size;
      height: @size;
      line-height: @size;
      margin-top: -@size / 2;
      text-align: center;
      z-index: 9998;
      .canclick();
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
  }
};

.hello(@p1);
