@import (reference) "~buy/common/styles/index.less";

@p1: {
  .compare-page {
    padding-bottom: 160 * @px;
    @perLineWidth: 300 *@px;
    .setpage(5 * @perLineWidth);
    .compare-item-list-container {
      display: flex;
      > * {
        flex: 0 0 @perLineWidth;
      }
    }
    .go-back-button {
      .canclick();
      text-align: center;
      > * {
        vertical-align: middle;
      }
      font-size: 18 *@f;
      margin-top: 100 *@px;
      .mb({
        margin-top: 50 *@px;
      });
      img {
        width: 22 *@f;
        margin-right: 10 *@px
      }
    }
  }
};

.hello(@p1);
