@import (reference) "~@/styles/index.less";
.page-shipping-container {
  height: 100%;
  overflow: hidden;

  &.notlayout {
    & > .ant-form {
      padding-top: 0 !important;
    }
  }
}

.@{MOBILECLS} {
  .page-shipping-container {
    .middle-wrapper {
      padding: 0.31rem 0.31rem 0.5rem;

      // antd
      .ant-form-item {
        .ant-form-item-control {
          .ant-form-explain {
            margin-top: 0.1rem;
            padding-left: 0;
            font-size: 0.11rem;
          }
        }
      }
    }
  }
}
