@import (reference) "~@/styles/color.less";
@import (reference) "~@/styles/font.less";

.comp-checkbox-question {
  .comp-checkbox-question__item {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    > label {
      color: #222222;
    }
    > input {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
.comp-checkbox-question__item {
  .comp-answer-input {
    display: flex;
    align-items: center;
    .ant-input {
      padding: 0;
      height: 22px;
    }
  }
}
