@import (reference) "~@/styles/color.less";
@import (reference) "~@/styles/font.less";
.comp-multi-select {
  .comp-multi-select__item {
    margin: 16px 0;
  }
  .check-box-input-container {
    display: flex;
    align-items: flex-start;
    .check-box-input {
      width: 300px;
      height: 24px;
      color: rgba(0, 0, 0, 0.65);
    }
  }
}
