@import (reference) "~@/styles/color.less";
@import (reference) "~@/styles/font.less";
.comp-multi-select {
  .comp-multi-select__item {
    margin: 16px 0;
  }
  .check-box-input-container {
    display: flex;
    align-items: flex-start;
    .check-box-input {
      border-width: 2px;
      border-color: #f5f5f5;
      width: 300px;
      height: 24px;
      color: rgba(0, 0, 0, 0.65);
      -webkit-text-fill-color: rgba(0, 0, 0, 0.65);
      -webkit-opacity: 1;
      opacity: 1;
    }
  }
}
