@import (reference) "~@/styles/index.less";
@import (reference) "~@/styles/font.less";
@import (reference) "~@/containers/commonCss/contact.less";
@world: {
  .page-contact-container {
    background: #F5F7F9;
    @img-width: 452*@px;
    @help-info-margin: 82*@px;
    > .bg-3 {
      background: #f5f7f9;
    }
    > .bg-4 {
      background: @white;
      text-align: center;
      .leave-message {
        padding-top: 109*@px;
        padding-bottom: 48*@px;
        > h2 {
          font-size: 36*@px;
          margin-bottom: 24*@px;
        }
        > p {
          color: #444b54;
          font-size: 16*@px;
          margin-bottom: 42*@px;
        }
        > button {
          max-width: 456*@px;
        }
      }
    }
    .comp-help-list {
      padding: 50*@px 0 3*@px;
      .setpage(2 * @img-width + 30*@px);
      > h2 {
        font-size: 36*@px;
        text-align: center;
        margin-bottom: 96*@px;
      }
      li.help-info {
        margin-bottom: @help-info-margin;
        &:nth-child(2n + 1) {
          flex-direction: row-reverse;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        > .desc-content {
          flex: 0 0 400*@px;
          //max-width: 374*@px;
          > h3 {
            font-size: 36*@px;
            margin-bottom: 20*@px;
          }
          > p {
            font-size: 16*@px;
          }
        }
        > img {
          min-width: 452*@px;
          max-width: 452*@px;
          border-radius: 8*@px;
          //flex-basis: 452*@px;
        }
      }
    }
  }

  .ismobile #root {
    @help-info-margin: 24*@px auto 50*@px;
    .page-contact-container {
      li.help-info {
        display: block;
        //text-align: center;
        > img {
          width: 100%;
          margin: @help-info-margin;
        }
      }
    }
  }
};
.hello(@world);
