@import (reference) "~buy/common/styles/index.less";

@p2: {
  .phone-product-card {
    .img-scale-container {
      width: 278 * @px;
      height: 278 * @px;
      overflow: hidden;
      .innerdiv {
        transition: transform 0.3s;
        //background-size: 130% auto !important;
        //background-size: auto 100%  !important;
        //background-repeat: no-repeat;
        transform: scale(1.01);
        &:hover {
          transform: scale(1.2);
          //background-size: auto 120%  !important;
        }
      }
    }
    .five-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &[data-disabled="false"] {
      .canclick();
    }
    &[data-disabled="true"] {
      cursor: initial;
    }
    .modal {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
    }
    border: 1px solid @color-border;
    position: relative;
    > .status-tag {
      position: absolute;
      left: 0;
      top: 0;
      width: 100 * @px;
      height: 24 * @px;
      line-height: 24 * @px;
      font-size: 12 * @px;
      text-align: center;
      z-index: 1;
      .mb(
        {width: 68 * @px; height: 20 * @px; line-height: 20 * @px; font-size: 8 *
          @px;}
      );
      background: #ff0048;
      color: @white;
      //&[data-status="SOLDOUT"] {
      //  background: #ff0048;
      //  color: @white;
      //}
      //&[data-status="INTRANSACTION"] {
      //  background: #ffe419;
      //}
    }
    > div.content-container {
      display: flex;
      flex-direction: column;
      padding: 12 * @px;
      padding-right: 0;
      border-top: 1px solid @color-border;
      > * {
        margin-bottom: 4 * @px;
      }
      .title() {
        .font(16 * @px, @boldWeight, rgba(34, 34, 34, 1));
      }
      .ok () {
        .font(12 * @px, @normalWeight, rgba(59, 186, 0, 1));
      }
      > h2 {
        .title();
      }
      > .attr {
        font-size: 12 * @px;
      }
      > .condition {
        .ok();
      }
      > .id {
        .font(12 * @px, @normalWeight, rgba(136, 136, 136, 1));
      }
      > .price {
        > * {
          vertical-align: middle;
        }
        .title();
        img.sale-tag {
          display: inline-block;
          margin-left: 10 * @px;
          width: 45 * @px;
          .mb({
            width: 35 * @px;
          })
        }
      }
    }
  }
};
.hello(@p2);
