@import (reference) "~buy/common/styles/index.less";

@p1: {
  .jobs-layout {
    padding-bottom: 200*@px;
    //.common-home-width(@px);
    margin: 0 auto;
    background: #f5f7f9;
    .title {
      background: @white;
      border-bottom: 1px solid rgba(233, 233, 233, 1);
      padding: 65*@px 0;
      text-align: center;
      font-size: 32*@px;
      color: rgba(0, 0, 0, 1);
    }
  }
};

.hello(@p1);
