.comp-mobile-header-container {
  height: .7rem;
  background: #fff;
  position: relative;
  z-index: 1;
  .header-box {
    padding:0 .3rem;
    display: flex;
    align-items: center;
    .logo {
      img {
        width: .97rem;
      }
      flex: 1;
    }
    .right {
      width:.2rem;
    }
  }
}