.comp-contact-form-container {
  margin: 55px 176px 50px;
  .button-group {
    width:400px;
    margin:30px auto;
  }
}

.ismobile {
  .comp-contact-form-container {
    margin: 0;
   }

  .button-group {
    width: 3rem;
  }
}