@import (reference) "~buy/common/styles/index.less";

@p1: {
  .off-price {
    font-size: 10 * @f;
    font-weight: bold;
    .discount {
      margin-left: 5 *@px;
      color: @actred;
    }
  }
};

.hello(@p1);
