@import (reference) "~styles/index.less";
@world: {
  .comp-select {
    width: 100%;
    display: flex;
    > button {
      flex: 1;
      color: @color-gray-deeper;
    }
    > button:first-child {
      border-radius: 4px 0 0 4px;
    }
    > button:last-child {
      border-radius: 0 4px 4px 0;
    }
    .sub-question-button {
      width: 172*@px;
      height: 64*@px;
      border: 1px solid @color-gray;
      font-size: 18*@px;
      &[disabled] {
        cursor: initial !important;
      }
    }
    .sub-question-button[data-select="true"] {
      background: @color-blue-liner;
      color: @white;
      border-color: #1ab4e7;
    }
  }
}
.hello(@world);

