@import (reference) "~@/styles/index.less";
@world: {
  .page-payment-container {
    height: 100%;
    .ant-form-item-required::before {
      display: none;
    }
    &.notlayout {
      & > .ant-row {
        padding-top: 0 !important;
      }
    }
    .wrapper {
      .email,
      .name {
        margin-top: 17 * @px;
        .title {
          .set-font-color(12 * @px, #666);
          line-height: 12 * @px;
        }
        .address {
          .set-font-color(12 * @px, #000, bold);
          line-height: 12 * @px;
        }
      }

      .difference {
        margin-top: 18 * @px;
        .set-font-color(12 * @px, #00bae5);
        line-height: 18 * @px;
        cursor: pointer;
        &::before {
          content: "";
          display: inline-block;
          margin-right: 4 * @px;
          width: 10 * @px;
          height: 10 * @px;
          background: url("~@/images/yourphone/circle-arrow.png") no-repeat;
          background-size: 100%;
        }
      }

      .ant-form-item {
        margin-bottom: 6 * @px;
      }
    }
  }

  // my
  .page-payment-container {
    .description {
      .font(14px, 400, #848484);
    }
    padding-bottom: 286 * @px;
    .setpage(750 * @px);
    .page-padding();
    .buttons-container {
      margin-top: 30 * @px;
    }
    .payment-type-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30 * @px;
      .container-border {
        border: 1 * @px solid #e9e9e9;
        border-radius: 8 * @px;
        padding: 20 * @px 16 * @px;
        position: relative;
        &[data-selected="true"] {
          border: 1 * @px solid @color-blue-liner-use;
        }
        display: flex;
        flex-direction: column;
        header {
          flex: 0 0 40 * @f;
          > span {
            margin-left: 22 * @px;
          }
          > * {
            vertical-align: middle;
          }
        }
        .description {
          flex: 0 0 90 * @f;
        }
      }
      .echeck-container {
        h3 {
          display: inline-block;
          font-size: 24 * @px;
        }
      }
      .paypal-container {
        img {
          width: 106 * @px;
          height: 28 * @px;
        }
      }
    }
    .comp-top-tag {
      &.recommended {
        background: #6dd230;
      }
      position: absolute;
      top: -12 * @px;
      right: -12 * @px;
      background: #ff0048;
    }
  }

  #ismobile {
    .page-payment-container {
      padding-bottom: 100 * @px;
      .payment-type-container {
        grid-template-columns: 1fr;
        grid-row-gap: 20 * @px;
      }
    }
  }
};
.hello(@world);
