@import (reference) "~buy/common/styles/index.less";

@p1: {
  .update-form-layout {
    border: 1px solid @color-border;
    padding: 10 * @px;
    h2 {
      font-size: 18 * @px;
      margin-bottom: 16 * @px;
    }
  }
};

.hello(@p1);
