
@import (reference) "~buy/common/styles/index.less";

@p1: {
  .pay-form-container {
    max-width: 100%;
    overflow: hidden;
    .sq-form-third-container {
      width: 100%;
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
};

.hello(@p1);

