
@import (reference) "~buy/common/styles/index.less";

@p1: {
  .pay-form-container {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    #sq-payment-form-sq-card-number {
      width: 100%;
      max-width: 100%;
    }
    .sq-form-third-container {
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-column-gap: 30 *@px;
      grid-template-columns: repeat(3, 1fr);
    }
    .sq-fieldset {
      width: 100%;
      max-width: 100%;
      >div {
        width: 100%;
        max-width: 100%;
      }
    }
  }
};

.hello(@p1);

