@import (reference) "~@/styles/index.less";
.page-select-model {
  background: #F5F7F9;
  padding: 73px 0;
  ul.model-list {
    .page(1280px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li.brand-icon-container {
      margin: 0 10px 11px 0px;
      height: 405px;
      min-width: 332px;
      width: 332px;
    }
  }
}
