@import (reference) "~@/styles/index.less";
@world: {
  .sell-layout > .header-container {
    //border-bottom: none;
  }
  .page-select-model {
    background: #F5F7F9;
    padding: 73*@px 0;
    ul.model-list {
      .page((328 * 4 + 44 * 3)*@px);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // 这个不知道如何计算的。不能写30。但是在1280下不好看。还是写30吧。
      grid-column-gap: 30*@px;
      //grid-template-rows: repeat(4, 25%);
      li.brand-icon-container {
        margin-bottom: 11*@px;
        height: 405*@px;
        //min-width: 332*@px;
        //width: 332*@px;
      }
    }
  }
}

//
//.ismobile #root {
//  .page-select-model {
//    background: #F5F7F9;
//    padding: 0.56rem 0.43rem;
//    ul.model-list {
//      .page(1280px);
//      display: flex;
//      flex-direction: column;
//      align-items: center;
//      li.brand-icon-container {
//        width: 100%;
//        margin-bottom: 0.64rem;
//        height: 7.89rem;
//        //min-width: 332px;
//        //width: 332px;
//      }
//    }
//  }
//}

.hello(@world);