@import (reference) "~@/styles/index.less";
.page-select-model {
  background: #F5F7F9;
  padding: 73px 0;
  .page(1280px);
  ul.model-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li.brand-icon-container {
      margin: 0 10px;
      height: 405px;
    }
  }
}
