@import (reference) '~@/styles/index.less';

.page-aboutyou-container {
  .header-wrapper {
    height: 160px;
    overflow: hidden;
    text-align: center;
    border-bottom: 2px solid rgb(245, 245, 245);
    .main-title {
      padding: 35px 0 18px;
      .set-font-color(42px, #00CFFF);
      line-height: 42px;
    }

    .description {
      .set-font-color(16px, #9B9B9B);
      line-height: 26px;
    }
  }

  .form-submit-wrapper {
    margin: 48px auto 0;
    width: 400px;
  }
}