@import (reference) '~@/styles/index.less';

.@{MOBILECLS}{
  .page-aboutyou-container {
    width: 100%;
    padding-bottom: 0.25rem;
    .header-wrapper {
      width: auto;
      margin: 0 0.2rem;
      height: 1.17rem;
      border-bottom: 1px solid rgb(245, 245, 245);
      .main-title {
        padding: 0.3rem 0 0.1rem;
        font-size: 0.2rem;
        line-height: 0.2rem;
      }
      .description {
        font-size: 0.12rem;
        width: 20em;
        text-align: center;
        margin: 0 auto;
        line-height: 0.16rem;
      }
    }

    .form-submit-wrapper {
      padding: 0 0.3rem;
      width: auto;
      margin-top: 0.2rem;
    }
  }
}