@import (reference) "~buy/common/styles/index.less";

@p1: {
  .shopping-cart-strong() {
    font-weight: @boldWeight;
  }
  .shopping-cart-strong() {
    font-weight: @boldWeight;
  }
  .cart-shopping-item {
    display: flex;
    flex-direction: column;
    padding-top: 30 *@px;
    position: relative;
    .sold-modal {
      width: 100%;
      background: rgba(250, 250, 250, 0.2);
      height: 100%;
      position: absolute;
      z-index:9;
    }
    .pc({
      border-top: 1px solid @color-border;
    });
    .pc({
      margin-bottom: 130 *@px;
    });
    h1,h2 {
      font-size: 14 *@f;
      font-weight: normal;
    }
    .render-line {
      margin-bottom: 12 *@px;
      .mb({
        margin-bottom: 4 *@px;
      });
    }
    .strong {
      font-weight: @boldWeight;
    }
    .pc({
      > *:first-child {
        padding-bottom: 30 *@px;
        border-bottom: 1px solid @color-border;
      }
    });
    .two-line-flex {
      .canclick();
      align-self: stretch;
      display: flex;
      justify-content: space-between;
      .img-container {
        margin-right: 40 *@px;
      }
      .content-part {
        flex: 1;
        //max-width: 820 *@px;
      }
    }
    .render-sub-total-container {
      display: flex;
      border-bottom: 1px solid @color-border;
      justify-content: flex-end;
      .render-sub-total {
        .mb({
          font-size: 12 *@px;
        });
        padding: 30 *@px 0;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        .line-one {
          display: flex;
          justify-content: space-between;
          span {
            margin-left: 61*@px;
            .mb({
              margin-left: 92*@px;
            });
            white-space: nowrap;
          }
          strong {
            font-size: 14 *@f;
            margin-left: 10 *@px;
            .shopping-cart-strong();
          }
        }
        .line-two {
          font-size: 12 *@f;
        }
      }
    }
    
    
    .render-button-container {
      padding: 20 *@px 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      z-index: 10;
      .mb({
        flex-direction: column-reverse;
      });
      
      .common-button {
        @height: 70*@px;
        height: @height;
        line-height: @height;
        font-size: 18 *@f;
        .mb({
          @height: 50*@px;
          height: @height;
          line-height: @height;
        });
        > * {
          height: 100%;
          line-height: 100%;
          width: 100%;
        }
        .mb({
          min-width: 100%;
          width: 100%;
        });
        &[data-sold="true"] {
          text-align: center;
          background: rgba(240, 240, 240, 1) !important;
          color: rgba(128, 128, 128, 1) !important;
          cursor: initial;
        }
      }
    }
    
    .render-cart-shopping-item {
      //
      a {
        position: relative;
        z-index: 8;
        color: #375a7d;
        text-decoration: underline;
      }
    }
  }


  .add-to-compare-part-img {
    .innerdiv {
      .innerdiv-imgsize(208 *@px);
      .mb({
        .innerdiv-imgsize(95 *@px);
      })
    }
  }
  .add-to-compare-part-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: @boldWeight;
    .pc({
      margin-top: 17 *@px;
    });
    &[data-haveadd="false"] {
      .canclick();
      .svg-container {
        background: rgba(233, 233, 233, 1);
      }
    }
    &[data-haveadd="true"] {
      .svg-container {
        background: linear-gradient(90deg,rgba(26,180,231,1) 0%,rgba(52,152,219,1) 100%);
      }
    }
    span[data-sold="true"] {
      color: rgba(128, 128, 128, 1);
    }
    .svg-container {
      width: 24 *@px;
      height: 24 *@px;
      border-radius: 50%;
      color: @white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10 *@px;
    }
    .mb({
      justify-content: flex-start;
      padding: 12 *@px 0;
    });
  }
  
  
  // 组件
  .item-price-line {
    .mb({
      &:first-child {
        .add-to-cart-button {
          margin-top: -20 *@px;
          display: inline;
        }
      }
    });
    .pc({
      display: grid;
      grid-template-columns:  2fr 1fr 1fr;
    });
    .mb({
      display: flex;
      flex-direction: column;
    });
    .mb-line-container {
      display: flex;
      justify-content: space-between;
      .render-title-container {
        flex: 0 0 70%;
      }
    }
    .mb-line-container + * {
      text-align: left !important;
    }
    .render-title-container {
      .second-line {
        font-size: 12 *@f;
        color: rgba(106, 106, 106, 1);
      }
    }
    .render-title-name {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .add-to-cart-button {
      .mb({
        text-align: right !important;
      });
      &[data-select="true"] {
        color: rgba(224, 32, 32, 1);
      }
      &[data-select="false"] {
        color: rgba(26, 180, 231, 1);
      }
      &[data-sold="true"] {
        color: rgba(128, 128, 128, 1);
      }
      .canclick();
    }
    >li:nth-child(2) {
      text-align: right;
    }
    >li:nth-child(3) {
      .shopping-cart-strong();
      text-align: right;
    }
  }
  
  
  // 组件
  .product-info-line {
    .pc({
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    });
    .mb({
      display: flex;
      justify-content: space-between;
      flex: 1;
      margin-left: 10 *@px;
    });
    .info {
      .content-container {
        display: flex;
        flex: 1;
        flex-direction: column;

        .price-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .pc({
            h2 {
              font-size: 18 *@f;
              font-weight: @boldWeight;
            }
          });
        }
        > * {
          margin-bottom: 4 * @px;
        }
        .title() {
          .font(16 * @px, @boldWeight, rgba(34, 34, 34, 1));
        }
        .ok () {
          .font(12 * @px, @normalWeight, rgba(59, 186, 0, 1));
        }
        > h2 {
          .title();
        }
        > .attr {
          font-size: 12 * @px;
        }
        > .condition {
          .ok();
        }
        > .id {
          .font(12 * @px, @normalWeight, rgba(136, 136, 136, 1));
        }
        > .price {
          > * {
            vertical-align: middle;
          }
          .title();
          img.sale-tag {
            display: inline-block;
            margin-left: 15 * @px;
            width: 35 * @px;
            .mb({
              margin-left: 10 * @px;
              width: 25 * @px;
            })
          }
        }
      }
    }
    .price {
      .shopping-cart-strong();
      text-align: right;
    }
    
  }
};

.hello(@p1);
