@import (reference) "~buy/common/styles/index.less";

@p1: {
  .list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .two-line-flex {
      align-self: stretch;
      display: flex;
      justify-content: space-between;
      .content-part {
        flex: 1;
      }
    }
  }


  .add-to-compare-part-img {
    .innerdiv {
      .innerdiv-imgsize(208 *@px);
    }
  }
  .add-to-compare-part-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: @boldWeight;
  }
};

.hello(@p1);
