@import (reference) '~@/styles/index.less';

.@{MOBILECLS} {
  .comp-brand-item-container {
    height: auto;
    .img-wrapper {
      width: 1.46rem;
      height: 0.83rem;
      line-height: 0.8rem;
      border-radius: 0.04rem;
      border: 0.02rem solid rgba(245,245,245,1);

      &.active {
        box-shadow:0px 0.02rem 0.04rem 0px rgba(0,207,255,0.35);
        border:0.02rem solid rgba(0,207,255,1);
      }
      img {
        width: 0.7rem;
      }
    }

    .name {
      margin-top: 0.15rem;
      font-size: 0.14rem;
      height: 0.14rem;
      line-height: 0.14rem;
    }
  }
}