@import (reference) '~@/styles/index.less';
.comp-yourphone-breadcrumb-container {
  margin-top: 16px;
  display: flex;
  align-items: center;
  .set-font-color(14px, #9B9B9B);
  line-height: 16px;

  span.active {
    color: #000;
    font-weight: bold;
  }
}