@import (reference) '~@/styles/index.less';

.@{MOBILECLS} {
  .comp-carrier-item-container {
    .img-wrapper {
      width: 1.46rem;
      height: 0.83rem;
      line-height: 0.83rem;  

      .carrier-icon {
        width: 0.6rem;
        height: 0.6rem;
        vertical-align: -0.22rem;
      }
    }
  
    .name {
      margin-top: 0.15rem;
      font-size: 0.14rem;
      line-height: 0.14rem;
    }
  }
}