@import (reference) '~@/styles/index.less';
@import './conditionitem--mobile.less';
.comp-condition-item-container {
  overflow: hidden;
  display: flex;
  align-items: center;

  &.middle {
    align-items: flex-start;
    .left-wrapper {
      .condition {
        line-height: 20px;
      }
    }
  }

  &.moreppv {
    align-items: flex-start;
  }
  .left-wrapper {
    flex: 1;
    .condition {
      margin-bottom: 11px;
      .set-font-color(20px, #000);
      line-height: 30px;
    }
    .detail {
      .set-font-color(14px, #9B9B9B);
      line-height: 14px;
      margin-top: 11px;
    }
  }

  .right-wrapper {
    margin-left: 20px;
    width: 335px;
    display: flex;
    flex-wrap: wrap;
    .option {
      flex:1;
      display: flex;
      flex-basis: 160px;
      flex-grow: 0;
      margin-left: 15px;
      margin-bottom: 10px;
      width:160px;
      height:50px;
      line-height: 16px;
      align-items: center;
      background:rgba(255,255,255,1);
      cursor: pointer;
      .outline-shadow-highlight();
      .text-overflow();
      &:nth-of-type(2n + 1) {
        margin-left: 0;
      }

      .text {
        flex:1;
        display: -webkit-box;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        justify-content: center;
        text-align: center;
        padding:0 10px;
        box-sizing: border-box;
      }
    }
  }
}
