@import (reference) '~@/styles/index.less';

.@{MOBILECLS} {
  .comp-brand-header-container {
    margin: 0 0.2rem;
    padding: 0.31rem 0.2rem;
    height: auto;
    border-bottom: none;

    .ant-input {
      border: 1px solid rgba(213, 213, 213, 1);
    }

    &.multiple {
      padding: 0.31rem 0.2rem 0.26rem;
      border-bottom: 1px solid #f5f5f5;

      .append-order {
        position: absolute;
        top:0;
        left:0;
        width: 3.75rem;
        margin-left:-.2rem;
        margin-right:-.2rem;
        height:.6rem;
        line-height: .18rem;
        background: #f8f9fb;
        text-align: center;
        font-size:.12rem;
        color:#666666;
        display: flex;
        padding:0 .2rem;
        align-items: center;
    
        img {
          vertical-align: middle;
          margin-right:10px;
          position: relative;
          top:-1px;
          width:.16rem !important;
          height:.16rem;
          flex-shrink: 0;
        }

        span {
          text-align: left;
        }
    
        span#copy-btn {
          font-size:.13rem;
          line-height: .6rem;
          padding-left: .28rem;
          position: relative;
          color:#00CFFF;
          cursor: pointer;
    
          &:before {
            width:1px;
            height: .2rem;
            content:"";
            display: block;
            position: absolute;
            left:.14rem;
            top:.2rem;
            background: rgba(0,0,0,.04);
          }
        }
      }
    }

    .left-wrapper {
      .main-text {
        text-align: center;
        font-size: 0.16rem;
        line-height: 0.16rem;
      }

      .sub-text {
        text-align: center;
      }
    }

    .results-wrapper {
      max-height: 2rem;
      overflow-y: auto;
      overflow-x: hidden;
      margin-top: -0.02rem;
      position: absolute;
      width: 2.88rem;
      z-index: 10;
      background: rgba(255, 255, 255, 1);
      box-shadow: none;
      border-radius: 0 0px .04rem .04rem;
      border: 1px solid rgba(213, 213, 213, 1);

      .product {
        text-indent: .12rem;
        line-height: .25rem;
        .text-overflow();
        .set-font-color(.13rem, rgba(51, 51, 51, 1));
        cursor: pointer;

        &:hover {
          color: #fff;
          background-color: #00CFFF;
        }
      }
    }
  }
}