@import (reference) '~@/styles/index.less';

.@{MOBILECLS} {
  .comp-brand-header-container {
    margin: 0 0.2rem;
    padding: 0.2rem;
    height: auto;
    border-bottom-width: 1px;
    .left-wrapper {
      .main-text {
        text-align: center;
        font-size: 0.16rem;
        line-height: 0.16rem;
      }
    }
  }
}