@import (reference) '~@/styles/index.less';

.comp-brand-header-container {
  display: flex;
  padding: 0 40px 0 28px;
  align-items: center;
  border-bottom: 2px solid rgba(245, 245, 245);
  .left-wrapper {
    flex: 1;
    .main-text {
      .set-font-color(20px, #00CFFF);
      line-height: 20px;
    }
    .sub-text {
      margin-top: 9px;
      .set-font-color(14px, #9B9B9B);
      line-height: 16px;
    }
  }
  .right-wrapper {
    width: 220px;
    position: relative;
  }

  .results-wrapper {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -2px;
    position: absolute;
    width: 173px;
    z-index: 10;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 8px 0px rgba(208,208,208,0.5);
    border-radius:0 0px 4px 4px;
    border:1px solid rgba(208,208,208,0.8);
    .product {
      text-indent: 19px;
      line-height: 30px;
      .text-overflow();
      .set-font-color(12px, #808080);
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: #00CFFF;
      }
    }
  }
}