@import (reference) '~@/styles/index.less';

.comp-model-item-container {
  display: inline-block;
  overflow: hidden;
  width: 340px;
  height: 145px;
  box-sizing: border-box;
  padding: 0 20px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  .outline-shadow-highlight();

  .title {
    margin-top: 18px;
    margin-bottom: 10px;
    .text-overflow();
    .set-font-color(18px, #000, bold);
    line-height: normal;
  }

  .property-wrapper {
    display: flex;
    align-items: center;

    .left-wrapper {
      flex: 1;
      height: 72px;
      padding-top:10px;

      &.double {
        width:136px;
        flex: none;
        margin-right:80px;
        .memory-item {
          &:nth-of-type(3n + 1) {
            margin-left: 6px;
          }
          &:nth-of-type(2n + 1) {
            margin-left: 0;
          }
        }
      }

      .memory-item {
        display: inline-block;
        margin-left: 6px;
        margin-bottom: 2px;
        width: 60px;
        height: 24px;
        text-align: center;
        background: rgba(255, 255, 255, 1);
        .outline-shadow-highlight();
        .text-overflow();

        &:nth-of-type(3n + 1) {
          margin-left: 0;
        }
      }
    }
  }
}