@import (reference) "~buy/common/styles/index.less";

@p1: {
  .jobs-layout {
    ul,
    li {
      list-style: disc;
      margin-left: 13 * @px;
    }
    a {
      text-decoration: underline;
    }
    .title-font {
      .font(16 * @f, @boldWeight, #000000);
    }
    .normal-font {
    }
    .job-content-section {
      margin: 50 * @px 0;
      h4 {
        margin-bottom: 10 * @px;
      }
    }
    .footer {
      margin-top: 100 * @px;
    }
  }
};

.hello(@p1);
