@screen-pc: 1280px;
@screen-mb: 720px;

@layout-padding: 18px;

@font-size-big: 30px;
@font-size-important: 24px;
@font-size-larger: 20px;
@font-size-large: 18px;
@font-size-bigger: 16px;
@font-size-normal: 14px;
@font-size-small: 12px;

.ahs-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  .mb-ele {
    display: none;
  }
}

.ismobile {
  #root {
    .mb-ele {
      display: block;
    }
  }
}
.mb(@rules) {
  @media (max-width: @screen-mb) {
    @rules()
  }
}

.pc(@rules) {
  @media (min-width: @screen-mb) {
    @rules()
  }
}
