@import './reset.less';
@import './class.less';
@import './components.less';
@import './font.less';
@import './color.less';
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// antd 模态框挂载在root下，得全局注入样式
.antd-modal-deliverSatus-body {
    box-sizing: border-box;
    padding: 27px 18px;

    .col-1 {
        padding-top: 57px;
        padding-bottom: 46px;

        .list-item {
            display: flex;

            .date {
                width: 100px;
                font-size: 14px;
                font-family: HelveticaNeue-Medium;
                font-weight: 500;
                color: rgba(51, 51, 51, 1);
                line-height: 17px;
            }

            .time {
                font-size: 12px;
                font-family: HelveticaNeue;
                color: rgba(128, 128, 128, 1);
                line-height: 14px;
                padding-top: 3px;
            }

            .desc {
                flex: 1;
                margin-left: 36px;

                .info {
                    font-size: 14px;
                    font-family: HelveticaNeue;
                    color: rgba(17, 17, 17, 1);
                    line-height: 16px;
                }

                .pos {
                    margin-top: 12px;
                    font-size: 12px;
                    font-family: HelveticaNeue;
                    color: rgba(128, 128, 128, 1);
                    line-height: 14px;
                }
            }

            .date-list {
                flex: 1;
                display: flex;
                flex-direction: column;

                .date-item {
                    flex: 1;
                    display: flex;
                    margin-top: 18px;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        .line {
            margin: 16px 0;
            height: 1px;
            background-color: rgba(234, 234, 234, 1);
        }
    }

    .col-2 {
        width: 383px;
        box-sizing: border-box;
        padding-left: 43px;
        padding-top: 53px;

        &>div {
            img {
                width: 64px;
                height: auto;
            }

            &>div {
                display: inline-block;
                height: 64px;
                padding-left: 24px;

                .name {
                    font-size: 20px;
                    font-family: HelveticaNeue-Medium;
                    font-weight: 500;
                    color: rgba(51, 51, 51, 1);
                    line-height: 25px;
                }

                .tel {
                    margin-top: 10px;
                    font-size: 16px;
                    font-family: HelveticaNeue;
                    color: rgba(128, 128, 128, 1);
                    line-height: 18px;
                }
            }
        }
    }
}

.ismobile {
    .ant-modal:not(.modal-for-user-to-email) {
        top: .4rem;
        height: calc(100% - .8rem);
        margin-left: .2rem;
        margin-right: .2rem;
        padding-bottom: 0;

        .ant-modal-content {
            height: 100%;
            overflow: auto;
        }

        .ant-modal-body {
            padding: .15rem;
        }
    }

    .antd-modal-deliverSatus-body {
        box-sizing: border-box;
        padding: 0;

        .col-1 {
            flex: 1;
            padding-top: .2rem;
            padding-bottom: .07rem;

            .list-item {
                margin-top: .2rem;
                display: flex;
                flex-direction: column;

                .date {
                    font-size: .14rem;
                    line-height: .14rem;
                }

                .time {
                    font-size: .1rem;
                    line-height: .12rem;
                    padding-top: 0;
                }

                .desc {
                    flex: 1;
                    margin-left: .15rem;

                    .info {
                        font-size: .12rem;
                        font-family: HelveticaNeue;
                        color: rgba(51, 51, 51, 1);
                        line-height: .14rem;
                    }

                    .pos {
                        margin-top: .1rem;
                        font-size: .1rem;
                        line-height: .1rem;
                    }
                }

                .date-list {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    margin-left: 0;
                    margin-top: .15rem;

                    .date-item {
                        flex: 1;
                        display: flex;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }

            .line {
                margin-top: .16rem;
                margin-bottom: .2rem;
                height: 1px;
                background-color: rgba(234, 234, 234, 1);
            }
        }

        .col-2 {
            width: auto;
            box-sizing: border-box;
            padding-left: 0;
            display: flex;
            align-items: center;
            padding-top: .06rem;

            &>div {
                img {
                    width: .45rem;
                    height: auto;
                }

                &>div {
                    display: inline-block;
                    height: .45rem;
                    padding-left: .13rem;

                    .name {
                        font-size: .16rem;
                        line-height: .18rem;
                    }

                    .orderNo {
                        margin-top: .1rem;
                        font-size: .12rem;
                        line-height: .14rem;
                    }
                }
            }
        }
    }
}