@import (reference) "~buy/common/styles/index.less";

@p1: {
  .top-icon-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //margin-bottom: 18 *@px;
    margin-bottom: 8 *@px;
    margin-top: 8 *@px;
    img {
      width: 20 * @px;
      height: 20 * @px;
      margin-right: 5 *@px;
    }
    > li {
      display: flex;
      align-items: center;
      .title {
        display: block;
        font-size: 12 * @f;
      }
    }
  }
  //.ismobile {
  //  .top-icon-list {
  //    flex-direction: column;
  //    align-items: flex-start;
  //    margin: 15 * @px auto;
  //    img {
  //      margin-right: 8 * @px;
  //    }
  //    > li {
  //      margin: 4 * @px 0;
  //      > * {
  //        vertical-align: middle;
  //      }
  //      .title {
  //        display: inline-block;
  //      }
  //    }
  //  }
  //}
};

.hello(@p1);
