@import (reference) "~buy/common/styles/index.less";

@p1: {
  .top-icon-list {
    display: flex;
    justify-content: center;
    .pc({padding: 11 * @px 0 19 * @px;border: 1px solid @color-border;});

    img {
      width: 24 * @f;
      height: 24 * @f;
      .pc({margin-bottom: 5 * @px;});
    }
    .pc({> li[data-index= "1" ] {margin: 0 70 * @px;};});
    > li {
      text-align: center;
      .title {
        display: block;
        font-weight: @boldWeight;
        font-size: 16 * @f;
      }
    }
  }
  .ismobile {
    .top-icon-list {
      flex-direction: column;
      align-items: flex-start;
      margin: 15 * @px auto;
      img {
        margin-right: 8 * @px;
      }
      > li {
        margin: 4 * @px 0;
        > * {
          vertical-align: middle;
        }
        .title {
          display: inline-block;
        }
      }
    }
  }
};

.hello(@p1);
