@import (reference) "~@/styles/index.less";

.comp-check-inspect {
  .font(16px, 500, #1ab4e7);
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.ismobile {
  .comp-check-inspect {
    .font(0.16rem, 500, #1ab4e7);
    display: block;
    text-align: center;
    margin-bottom: 0.3rem;
  }
}
