@import (reference) '~@/styles/index.less';
.@{MOBILECLS} {
  .comp-navigatorwithbar-container {
    padding: 0.3rem;
    height: auto;
    .left-wrapper {
      width: 1.46rem;
      margin-right: 0.2rem;
      button {
        width: 100% !important;
      }
    }
    .middle-wrapper {
      display: none;
    }
    .right-wrapper {
      width: 1.46rem;
      button {
        width: 100% !important;
      }
    }
  }
}