@import (reference) '~@/styles/index.less';
.@{MOBILECLS} {
  .comp-navigatorwithbar-container {
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    padding: 0.2rem  .3rem;
    height: auto;
    z-index: 1;
    background: #fff;
    .left-wrapper {
      width: 1.46rem;
      margin-right: 0.2rem;
      button {
        width: 100% !important;
      }
    }
    .middle-wrapper {
      display: none;
    }
    .right-wrapper {
      width: 1.46rem;
      button {
        width: 100% !important;
      }
    }
  }
}