@import (reference) "~styles/index.less";

@world: {
  .page-offer {
    .comp-choice-question {
      padding-top: 40 * @px;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-column-gap: 50 * @px;
      .mb({grid-template-columns: 1fr; padding: 0 @padding-value;});
    }
    .setpage(860 * @px);
    padding: 32 * @px 0 85 * @px;
    @padding-value: 15 * @px;
    .func-space-between {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .padding-container {
      padding: 30 * @px @padding-value 30 * @px;
      border: 1 * @px solid #e9e9e9;
      border-radius: 6 * @px;
      > .product-container {
        padding-left: @padding-value;
        .collapse-clear-border();
        .ant-collapse-icon-position-right
          > .ant-collapse-item
          > .ant-collapse-header {
          padding-right: 0;
          .ant-collapse-arrow {
            right: 0;
            width: 32 * @px;
            height: 32 * @px;
            background: #f0f0f0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 14 * @f;
          }
        }
        .ant-collapse-item {
          &:not(:last-child) {
            border-bottom: 1 * @px solid #e9e9e9;
          }
          padding-bottom: 10 * @px;
        }
        @padding-left-value: 90 * @px;
        .ant-collapse-header {
          padding-left: 0;
          padding-bottom: 30 * @px;
        }
        .ant-collapse-content-box {
          padding: 0;
        }
        .ant-collapse-content {
          padding-left: @padding-left-value;
          border-top: none;
        }

        .panel-header {
          margin-left: @padding-left-value;
          position: initial;
          > .phone-image {
            width: 64 * @px;
            position: absolute;
            left: 0 * @px;
          }
          > .phone-model {
            > span:first-child {
              display: block;
              .font(18 * @f, 600, #222222);
              margin-bottom: 10 * @px;
            }
            > span:last-child {
              color: #808080;
            }
          }
        }
        ul.li-container {
          color: #000000;
          > li {
            position: relative;
            .mb({align-items: flex-start;});
            .comp-tag {
              font-size: 10 * @px;
            }
            > * {
              &:first-child {
                flex: 0 0 450 * @px;
                .mb({flex: 0 0 180 * @px;});
              }
              &:last-child {
                flex: 1;
                text-align: right;
              }
            }
            &.edit-panel-line {
              padding-bottom: 16 * @px;
              color: #00aeef;
            }
            &.estimate-line {
              border-top: 1 * @px solid #e9e9e9;
              padding-top: 10 * @px;
              margin-bottom: 20 * @px;
              > span:first-child {
                .font(18 * @f, 500, #000000);
              }
              > div:last-child {
                text-align: right;
                span {
                  background: #6dd230;
                  .font(18 * @f, 500, #ffffff);
                  border-radius: 4 * @px;
                  padding: 5 * @px 12 * @px;
                }
              }
            }
            .slash(@height) {
              &:after {
                content: "";
                background: red;
                position: absolute;
                font-size: 0px;
                width: 100%;
                height: 1px;
                transform: rotate(-20deg);
                right: 0;
                top: @height / 2;
              }
            }
            //.slash-test {
            //  .slash();
            //}
            .tag-container {
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              .mb({flex-wrap: wrap; flex-direction: column-reverse;});
              > *:first-child.comp-tag {
                margin-right: 10 * @px;
                .mb({margin-right: 0;});
                .flex-container {
                  .content {
                    border-radius: 300 * @px;
                  }
                }
              }
            }
            .slash-container {
              @value: 20 * @px;
              position: relative;
              height: @value;
              line-height: @value;
              > *:first-child {
                .slash(@value);
              }
            }
            &.service-fee-line {
              margin-bottom: 7 * @px;
            }
            &.seller-fee-line {
              margin-bottom: 7 * @px;
            }
            &.subtotal {
              padding-top: 20 * @px;
              border-top: 1 * @px solid #e9e9e9;
              > span:first-child {
                .font(14 * @f, 500, #000000);
              }
              > span:last-child {
              }
            }
            .func-space-between();
          }
        }
      }
      > .payout-container {
        border-top: 1 * @px solid #e9e9e9;
        padding-top: 10 * @px;
        .big-font {
          .font(26 * @f, 500, #000000);
        }
        .func-space-between();
      }
    }
    .risk-container {
      padding: 0 @padding-value;
      .risk {
        margin-top: 72 * @px;
        .mb({margin-top: 50 * @px;});
        text-align: center;
        border-radius: 8 * @px;
        border: 1 * @px solid rgba(233, 233, 233, 1);
        padding: 20 * @px 20 * @px 38 * @px;
        > h3 {
          .font(16 * @f, 500, #1ab4e7);
          margin-bottom: 13 * @px;
        }
        > p {
          .font(14 * @f, 400, #222222);
        }
      }
    }

    > .buttons-container {
      margin-top: 64 * @px;
    }
  }

  .ismobile #root {
    .padding-container {
      border: none;
    }
    .page-offer {
      .padding-container {
        padding-top: 0;
      }
      .service-fee-line,.seller-fee-line {
        margin-bottom: 30 *@px;
      }
      .tag-container {
        
        .comp-tag {
          position: absolute;
          bottom: -20 * @px;
          left: 0;
          margin-right: 0;
          font-size: 10px;
        }
        .content {
          padding: 0 5 * @px;
        }
      }
    }
  }
};
.hello(@world);
