@import (reference) "~@/styles/index.less";

@world: {
  .page-offer {
    .setpage(724 * @px);
    padding: 32 * @px 0 85 * @px;
    @padding-value: 15 * @px;
    .func-space-between {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .padding-container {
      padding: 30 * @px @padding-value 30 * @px;
      border: 1 * @px solid #e9e9e9;
      border-radius: 6 * @px;
      > .product-container {
        padding-left: @padding-value;
        .collapse-clear-border();
        .ant-collapse-icon-position-right
          > .ant-collapse-item
          > .ant-collapse-header {
          padding-right: 0;
          .ant-collapse-arrow {
            right: 0;
            width: 32 * @px;
            height: 32 * @px;
            background: #f0f0f0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 14 * @f;
          }
        }
        .ant-collapse-item {
          &:not(:last-child) {
            border-bottom: 1 * @px solid #e9e9e9;
          }
          padding-bottom: 10 * @px;
        }
        @padding-left-value: 90 * @px;
        .ant-collapse-header {
          padding-left: 0;
          padding-bottom: 30 * @px;
        }
        .ant-collapse-content-box {
          padding: 0;
        }
        .ant-collapse-content {
          padding-left: @padding-left-value;
          border-top: none;
        }

        .panel-header {
          margin-left: @padding-left-value;
          position: initial;
          > .phone-image {
            width: 64 * @px;
            position: absolute;
            left: 0 * @px;
          }
          > .phone-model {
            > span:first-child {
              display: block;
              .font(18 * @f, 600, #222222);
              margin-bottom: 10 * @px;
            }
            > span:last-child {
              color: #808080;
            }
          }
        }

        ul {
          color: #000000;
          > li {
            &.edit-panel-line {
              padding-bottom: 16 * @px;
              color: #00aeef;
            }
            &.estimate-line {
              border-top: 1 * @px solid #e9e9e9;
              padding-top: 10 * @px;
              margin-bottom: 20 * @px;
              > span:first-child {
                .font(18 * @f, 500, #000000);
              }
              > span:last-child {
                background: #6dd230;
                .font(18 * @f, 500, #ffffff);
                border-radius: 4 * @px;
                padding: 5 * @px 12 * @px;
              }
            }
            &.service-fee-line {
              margin-bottom: 20 * @px;
            }
            &.seller-fee-line {
              margin-bottom: 7 * @px;
            }
            &.subtotal {
              padding-top: 20 * @px;
              border-top: 1 * @px solid #e9e9e9;
              > span:first-child {
                .font(14 * @f, 500, #000000);
              }
              > span:last-child {
              }
            }
            .func-space-between();
          }
        }
      }
      > .payout-container {
        border-top: 1 * @px solid #e9e9e9;
        padding-top: 10 * @px;
        .big-font {
          .font(26 * @f, 500, #000000);
        }
        .func-space-between();
      }
    }
    .risk {
      margin-top: 72*@px;
      text-align: center;
      border-radius: 8 * @px;
      border: 1 * @px solid rgba(233, 233, 233, 1);
      padding: 20*@px 20*@px 38*@px;
      > h3 {
        .font(16 * @f, 500, #1ab4e7);
        margin-bottom: 13 * @px;
      }
      > p {
        .font(14 * @f, 400, #222222);
      }
    }
    > .buttons-container {
      margin-top: 64 * @px;
    }
  }

  .ismobile #root {
    .padding-container {
      border: none;
    }
  }
};
.hello(@world);
