@import (reference) '~styles/index.less';

.@{MOBILECLS} {
  .page-sell-layout-container {
    width: auto;
    height: auto;
    margin: 0;
    flex-direction: column;
    .sell-layout-left {
      width: auto;
      .comp-selllayout-guaranteedprice-container {
        position: relative;
      }
    }

  }
}