.page-sell-layout-container {
  width:1023px;
  height:838px;
  display: flex;
  box-shadow:-2px 0px 8px 0px rgba(0,0,0,0.05);
  margin: 80px auto 87px;
  border-radius:0px 8px 8px 0px;

  .sell-layout-left {
    position: relative;
    width:241px;
    background: #383D50;
    .comp-sellayout-leftside-container {
      padding-top: 168px;
      padding-left: 46px;
    }

    .comp-selllayout-guaranteedprice-container {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .sell-layout-right {
    flex:1;
    background: #fff;
  }
}