@import (reference) "~buy/common/styles/index.less";

@p: {
  .product-detail-page {
    /*
    样式覆盖的
     */
    .react-images__footer {
      padding-bottom: 100px !important;
    }

    /*
    相对模块性的
    
     */
    .mb-carousel {
      // 重置
      & .slick-dots.slick-dots-bottom {
        > li {
          border-radius: 50%;
          overflow: hidden;
          width: 8 * @px;
          height: 8 * @px;
          display: inline-block;
          background: rgba(233, 233, 233, 1);
          margin: 0 4 * @px;
          bottom: -22 * @px;
          > * {
            width: 100%;
            height: 100%;
          }
        }
        button {
          background: rgba(233, 233, 233, 1);
        }
        .slick-active {
          button {
            background: rgba(26, 180, 231, 1);
          }
        }
      }
      & .slick-slide {
        overflow: hidden;
      }

      & .slick-slide h3 {
        color: #fff;
      }
      .innerdiv {
        .innerdiv-imgsize(calc(100vw - 2 * 0.53rem));
      }
    }
    .sub-title-size {
      .pc({@size: 24 * @px; font-size: @size;});
      .mb({@size: 20 * @px; font-size: @size;});
    }

    .loading-mask-min-height {
      //min-height: 100vh;
    }
    .fixtag {
      display: flex;
      align-items: center;
      .comp-tips-icon-container {
        margin-left: 0 !important;
      }
    }
    //reset
    .common-collapse
      > .ant-collapse-item
      > .ant-collapse-header
      .ant-collapse-arrow {
      top: 35%;
    }

    .common-collapse
      > .ant-collapse-item-active
      > .ant-collapse-header
      .ant-collapse-arrow {
      color: #1ab4e7 !important;
    }

    .ant-collapse-icon-position-right
      > .ant-collapse-item
      > .ant-collapse-header {
      padding: 0;
      padding: 16 * @px 0;
      border-bottom: 1px solid @color-border;
    }
    .ant-collapse-content {
      padding-top: 25 * @px;
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0;
    }
    .ant-collapse {
      .ant-collapse-header {
        .font(24 * @f, @boldWeight, rgba(0, 0, 0, 1));
        .mb({.font(14 * @px, @boldWeight, rgba(0, 0, 0, 1)) ;});
      }
    }

    @imageWidth: 440 * @px;
    .product-detail {
      //margin-top: 15 * @px;
      .mb({@imageWidth: 100vw;});
      //页面结构

      .setpage(3 * @imageWidth);
      .page-padding();
      //padding-top: 25 * @px;
      padding-bottom: 80 * @px;
      // reset
      .common-collapse {
        margin-bottom: 21 * @px;
      }

      .report {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        > li {
          min-width: 0;
          > header {
            display: flex;
            align-items: center;
            > img {
              margin-right: 16 * @px;
            }
            > h3 {
              .font(18 * @f, @mediumWeight, rgba(0, 0, 0, 1));
            }
            margin-bottom: 7 * @px;
          }
          > p,
          div {
            white-space: pre-line;
            word-wrap: break-word;
            .second-line {
              .font(18 * @f, @mediumWeight, rgba(0, 0, 0, 1));
            }
            margin-left: 54 * @px;
            .mb({margin-left: 40 * @px;});
          }
        }

        a.report-link {
          text-decoration: underline;
          color: rgba(26, 180, 231, 1);
        }
        .bg-check {
          svg {
            color: rgba(109, 210, 48, 1);
            margin-left: 15 * @px;
          }
        }
      }
      .common-card {
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.07);
      }
      .mb-buy-card {
        background: @white;
        padding: 10 * @px 10 * @px;
        margin-top: 15 * @px;
      }

      .similar {
        margin-top: 66 * @px;
        .mb({margin-top: 40 * @px;});
        header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 46 * @px;
          .mb({margin-bottom: 40 * @px;});
          > h2 {
            .font(32 * @px, @boldWeight, rgba(0, 0, 0, 1));
            .mb({font-size: 24 * @px;});
          }
          > span {
            color: rgba(26, 180, 231, 1);
            font-weight: @boldWeight;
          }
        }
        .list {
          @widthSize: 280 * @px;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          justify-items: center;
          :first-child {
            justify-self: start;
          }
          :last-child {
            justify-self: end;
          }
          .phone-product-card {
            .innerdiv {
              .innerdiv-imgsize(@widthSize);
            }
            //min-width: 280 *@px;
          }
        }

        .view-all-text {
          color: #2ba8d8;
          font-weight: bolder;
        }
      }
    }
    .checkbox-protection {
      display: flex;
      align-items: center;
      .comp-tips-icon-container {
        margin-left: -10px;
      }
    }
  }

  #ismobile {
    .product-detail-page {
      .report {
        > li {
          margin-bottom: 21 * @px;
        }

        grid-template-columns: repeat(1, 1fr);
      }

      .input-container {
        flex-direction: column;
        > input {
          margin: 0 0 16 * @px;
          height: 36 * @px;
        }
      }
    }
  }
};

.hello(@p);
