@import (reference) "~buy/common/styles/index.less";

@p1: {
  .inspection-report {
    > h2:first-child {
      padding-bottom: 10 * @px;
      border-bottom: 1px solid @color-gray;
    }

    .title-style {
      font-size: 16 * @px;
      margin-top: 4 * @px;
    }
    @imgSize: 78;
    .Inspect-person-info {
      display: flex;
      .mb({flex-direction: column;});
      padding-top: 15 * @px;
      > * {
        padding-bottom: 17 * @px;
      }
      .first {
        .pc({margin-right: 20 * @px;});
        img {
          width: @imgSize * @f;
          height: @imgSize * @f;
          margin-right: 30 * @f;
        }
        .name-part {
          display: inline-block;
        }
      }
      .second {
      }
    }
    .item-list {
      border-top: 1px solid @color-gray;
      padding-top: 15 * @px;
      .pc({margin-left: (@imgSize + 30) * @f;});
      section {
        h2.sub-title-size {
          margin-bottom: 8 * @px;
        }
        margin-bottom: 20 * @px;
      }
    }
  }
  .phone-background-history {
    .pc({display: grid; grid-template-columns: repeat(3, 1fr) ;});
    > ul {
      > li {
        .icon-with-title();
      }
    }
  }
  .icon-with-title {
    margin-left: -5 * @px;
    margin-bottom: 8 * @px;
    > * {
      vertical-align: middle;
    }
    img {
      width: 24 * @f;
      height: 24 * @f;
      margin-right: 8 * @px;
      display: inline-block;
    }
  }
  .fully-functional-part {
    .pc({display: grid; grid-template-columns: repeat(3, 1fr) ;});
    ul {
    }
    .bg-check {
      .icon-with-title();
      label {
        display: inline-block;
      }
    }
  }
};

.hello(@p1);
