@import (reference) "~buy/common/styles/index.less";

@p1: {
  .inspection-report {
    .title-style {
      font-size: 16 * @f;
      margin-top: 4 * @px;
      white-space: nowrap;
      vertical-align: middle;
      img {
        vertical-align: middle;
        width: 30 * @px;
        margin-left: 10 * @px;
        .mb({width: 20 * @px;});
      }
    }
    @imgSize: 78;
    .Inspect-person-info {
      display: flex;
      flex-direction: column;
      > * {
        padding-bottom: 17 * @px;
      }
      .first {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        .mb(
          {justify-content: space-between; flex-direction: row-reverse; padding-bottom:
            0px;}
        );
        .pc({margin-right: 95 * @px;padding-bottom: 0});
        img {
          width: @imgSize * @f;
          height: @imgSize * @f;
          margin-right: 30 * @f;
          .mb({margin-right: 0;});
        }
        .name-part {
          display: inline-block;
        }
      }
      .second {
        p {
          color: #1ab4e7;
          font-weight: @boldWeight;
        }
        .pc(
          {margin-top: -30 * @px; margin-left: (@imgSize + 30) * @f;
            padding-bottom: 30 * @px;}
        );
        .mb({margin-top: -20 * @px;});
      }
    }
    .item-list {
      padding-top: 15 * @px;
      //.pc({margin-left: (@imgSize + 30) * @f;});
      section {
        h2.sub-title-size {
          margin-bottom: 8 * @px;
          font-size: 16 * @f;
        }
        margin-bottom: 20 * @px;
      }
    }
  }
  .common-grid-3() {
    .pc({display: grid; grid-template-columns: repeat(2, 1fr) ;});
    // 适当控制间距
    @media (max-width: 1344px) {
      grid-column-gap: 20 * @px;
    }
  }
  .phone-background-history {
    .common-grid-3();
    > ul {
      > li {
        .icon-with-title();
      }
    }
  }
  .icon-with-title {
    margin-left: -1 * @px;
    margin-bottom: 8 * @px;
    > * {
      vertical-align: middle;
    }
    img {
      width: 24 * @f;
      height: 24 * @f;
      margin-right: 8 * @px;
      display: inline-block;
    }
  }
  .fully-functional-part {
    .common-grid-3();
    ul {
    }
    .bg-check {
      display: flex;
      align-items: flex-start;
      grid-template-columns: 1fr 1fr;
      .icon-with-title();
      label {
        display: inline-block;
      }
    }
  }
};

.hello(@p1);
