@import (reference) "~buy/common/styles/index.less";

@p1: {
  .cart-modal {
    .yr-modal-title {
      height: initial;
      line-height: 1.2;
    }
    .last-line-flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > a {
        @color: blue;
        color: @color !important;
        font-size: 14 * @f;

        text-decoration: underline;
        text-decoration-color: @color;
      }
    }
    .add-to-cart-button {
      font-size: 14 * @f;
      .canclick();
      &[data-status="true"] {
        color: red;
      }
      color: @color-blue-liner-use;
      font-weight: @mediumWeight;
    }
    .with-title-container {
      h2 {
        display: inline-block;
        //border-bottom: 1px solid black;
        font-size: 24 * @px;
        //height: 32 * @px;
        text-decoration: underline;
      }
    }
  }
};

.hello(@p1);
