@import (reference) "~buy/common/styles/index.less";

@p1: {
  .cart-modal {
    @title-size: 18 * @f !important;

    .phone-info {
      border-bottom: none;
    }
    .yr-modal-title {
      font-size: @title-size;
    }
    .last-line-flex-container {
      margin-top: 10 * @px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > a {
        @color: #375a7d;
        color: @color !important;
        font-size: 14 * @f;

        text-decoration: underline;
        text-decoration-color: @color;
      }
    }
    .peijian {
      justify-content: flex-end;
    }
    .add-to-cart-button {
      font-size: 14 * @f;
      .canclick();
      &[data-status="true"] {
        color: red;
      }
      color: @color-blue-liner-use;
      font-weight: @mediumWeight;
    }
    .with-title-container {
      h2 {
        display: inline-block;
        //border-bottom: 1px solid black;
        font-size: @title-size;
        //height: 32 * @px;
        text-decoration: underline;
      }
    }
  }
  .ismobile {
    .cart-modal {
      .common-button {
        height: 50 * @px !important;
        line-height: 50 * @px !important;
        margin: 15 *@px auto;
      }
    }
  }
};

.hello(@p1);
