@import (reference) "~buy/common/styles/index.less";

@p1: {
  .login-form-modal {
    max-width: 700 * @px;
    .yr-modal-header {
      .yr-modal-title {
        font-size: 24px;
        text-align: center;
        font-weight: @boldWeight;
      }

      border-bottom: 1px solid @color-border;
      padding-bottom: 20 * @px;
      margin-bottom: 10 * @px;
    }
    .ant-form-item {
      margin-bottom: 15 * @px;
    }
  }
  .login-pop {
    text-align: center;
    border: 1px solid @color-border;
    padding-bottom: 24 * @px;
    .mb({padding-bottom: 0;});
    > .title {
      position: relative;
      display: inline-block;
      top: -15px;
      background: @white;
      padding: 0 10 * @px;
    }
    > .content-container {
      padding: 0 16 * @px;
      .pc({grid-template-columns: 1fr 1fr; grid-column-gap: 20 * @px;});
      .mb({grid-template-rows: 1fr 1fr; grid-row-gap: 0 * @px;});
      display: grid;
      align-items: center;
      > a {
        color: @color-blue-liner-use;
      }
    }
  }
};

.hello(@p1);
