@import (reference) '~@/styles/index.less';

.page-home-container {
  margin: 0 auto;
  width: @main-wrapper-width;
  letter-spacing: -1px;

  .sell-your-phone-wrapper {
    overflow: hidden;
    position: relative;
    padding-left: 142px;
    height: 774px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    padding-top: 126px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);

    .main-title {
      padding-top: 54px;
      margin-bottom: 35px;
      .set-font-color(68px, #000, bold);
      line-height: 72px;
    }

    .content-text {
      margin-bottom: 202px;
      .set-font-color(20px, #000);
      line-height: 28px;
    }

    .main_bg1 {
      position: absolute;
      top: 117px;
      right: 141px;
      width: 569px;
      height: 587px;
    }
  }

  .how-it-works-wrapper {
    overflow: hidden;
    box-sizing: border-box;
    padding: 70px 213px 83px;
    // height: 1404px;
    background-color: #ECFBFD;
    text-align: center;

    .main-title {
      .set-font-color(62px, #000, 300);
      font-family: HelveticaNeue-Light;
      line-height: 72px;
    }

    .sub-title {
      margin: 48px 0 24px;
      .set-font-color(22px, #000);
      line-height: 28px;
    }

    .sub-content {
      .set-font-color(22px, #9B9B9B);
      line-height: 28px;
    }

    .works-steps-wrapper {
      .step-group {
        padding-top: 169px;

        .step-item {
          position: relative;
          display: inline-block;
          vertical-align: top;
          width: 375px;

          .icon-group {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);

            .number {
              position: absolute;
              left: 0;
              bottom: 0;
              transform: translateX(-100%);
              display: inline-block;
              width: 46px;
              line-height: 72px;
              .set-font-color(38px, #000, bold);
            }
          }

          .glance {
            padding-top: 25px;
            margin-bottom: 24px;
            .set-font-color(22px, #000);
            line-height: 28px;
          }

          .description {
            .set-font-color(22px, #9B9B9B);
            line-height: 28px;
          }
        }

        .step-item+.step-item {
          margin-left: 104px;
        }
      }
    }
  }

  .section-payback {
    padding: 132px 150px 94px;
    background: #fff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);

    .top {
      display: flex;

      .left {
        h2 {
          font-size: 68px;
          line-height: 72px;
        }

        p {
          font-size: 22px;
          line-height: 28px;
          margin-top: 36px;
        }
      }

      img {
        width: 496px;
        margin-left: 10px;
      }
    }

    .bottom {
      margin-top: 43px;

      img.progress_bar {
        width: 100%;
      }
      img.m_progress_bar {
        display: none;
      }

      ul {
        display: flex;
        margin-top: 50px;

        li {
          flex: 1;
          padding-left: 10px;

          &:last-child {
            margin-left: 180px;
          }

          h3 {
            font-size: 22px;
            line-height: 28px;
            font-weight: 300;
            color: #000;
          }

          p {
            font-size: 22px;
            line-height: 28px;
            margin-top: 20px;
            color: #9B9B9B;
          }
        }
      }
    }
  }

  .section-sell {
    padding: 70px 201px 80px 210px;
    background: #ECFBFD;

    h2 {
      color: #000;
      font-size: 68px;
      line-height: 72px;
      text-align: center;
      font-weight: 300;
    }

    dl {
      overflow: hidden;

      dd {
        margin-top: 100px;
        float: left;
        width: 375px;
        height: 290px;
        text-align: center;

        &:nth-of-type(2n) {
          margin-left: 116px;
        }

        div {
          text-align: center;

          .number {
            font-size: 38px;
            font-weight: bold;
            color: rgba(0, 0, 0, 1);
            line-height: 72px;
            margin-right:14px;
          }

          img {
            max-width: 85px;
            max-height: 94px;
          }
        }

        h4 {
          font-size: 22px;
          font-weight: 300;
          color: rgba(0, 0, 0, 1);
          line-height: 28px;
          margin-top: 26px;
        }

        p {
          font-size: 22px;
          font-weight: 300;
          color: rgba(155, 155, 155, 1);
          line-height: 28px;
          letter-spacing: -1px;
          margin-top: 24px;
        }
      }
    }
  }

  .section-just {
    padding: 76px 130px 110px;
    background: #fff;

    h2 {
      font-size: 68px;
      color: rgba(0, 0, 0, 1);
      line-height: 72px;
      font-weight: normal;
      text-align: center;
    }

    p {
      margin-top: 10px;
      font-size: 22px;
      color: rgba(0, 0, 0, 1);
      line-height: 28px;
      text-align: center;
    }

    .button-group {
      display: block;
      width: 232px;
      margin: 38px auto;

      .sell-it-now {
        width: 232px;
        height: 64px;

        span {
          text-shadow: none;
        }
      }
    }
  }

  .sell-it-now {
    min-width: 166px;
  }
}


.ismobile {
  .page-home-container {
    width:100%;
    overflow: hidden;
    letter-spacing: 0px;

    .sell-your-phone-wrapper {
      padding: .7rem .3rem 0;
      height:5.7rem;
      overflow: hidden;
      .main-title {
        font-size:.4rem;
        line-height: .5rem;
        padding-top:.3rem;
      }
      .content-text {
        font-size:.16rem;
        line-height: .24rem;
        margin-bottom:.3rem;
        br {
          display: none;
        }
      }
      .button-link {
        display: block;
        width:2rem;
        margin: 0 auto;
        .sell-it-now {
          width:100%;
        }
      }
      .main_bg1 {
        width: 3.5rem;
        height:auto;
        top:initial;
        right:initial;
        bottom:-1.6rem;
        left:-.2rem;
      }
    }

    .how-it-works-wrapper {
      padding-left:.3rem;
      padding-right:.3rem;
      padding-top:.3rem;

      .main-title {
        font-size:.34rem;
      }
      .sub-title {
        margin-top:.3rem;
      }
      .sub-content {
        font-size:.14rem;
        line-height:.2rem;
      }
      .works-steps-wrapper {
        .step-group {
          padding-top:1.1rem;
          .step-item {
            width:100%;
            &:nth-of-type(2) {
              margin-top:1rem;
            }
            &+.step-item {
              margin-left: 0;
            }

            .glance {
              font-size:.16rem;
            }
            .description {
              font-size:14px;
              letter-spacing: 0px;
              line-height: .2rem;
            }
          }

          &:first-child {
            .step-item {
              &:nth-of-type(2) {
                margin-top:1.7rem;
              }
            }
          }
        }
      }
    }

    .section-payback {
      padding-left: .33rem;
      padding-right:.3rem;
      padding-top:.3rem;
      .top {
        display: block;
        .left {
          h2 {
            font-size:.4rem;
            line-height:.55rem;
          }
          p {
            font-size:.18rem;
            line-height:.24rem;
            margin-top:.2rem;

            br {
              display: none;
            }
          }
        }
        img {
          width:100%;
          margin-top:.2rem;
          margin-left:0;
        }
      }

      .bottom {
        img {
          width:100%;
          &.progress_bar {
            display: none;
          }
          &.m_progress_bar {
            display: block;
          }
        }

        ul {
          li {
            padding-left:0;
            flex:1;
            &:last-child {
              margin-left:.2rem;
              width:1.7rem;
              flex:none;
            }
            h3 {
              font-size:.14rem;
            }
            p {
              font-size:.13rem;
              line-height: .2rem;
              margin-top:.15rem;
              text
              br {
                display: none;
              }
            }
          }
        }
      }
    }

    .section-sell {
      padding-left:.3rem;
      padding-right:.3rem;
      padding-top:.3rem;
      h2 {
        text-align: center;
        font-size:.34rem;
        line-height:.44rem;
      }

      dl {
        dd {
          margin-left:auto;
          margin-right:auto;
          float:none;
          margin-top:.3rem;
          width: 100%;
          height:auto;
          h4 {
            font-size:.16rem;
            font-weight: 300;
          }
          p {
            font-size:.14rem;
            letter-spacing: 0px;
            line-height: .2rem;
            br {
              display: none;
            }
          }
        }
      }
    }
    
    .section-just {
      padding:.3rem .21rem .4rem;
      h2 {
        font-size:.34rem;
        line-height:.44rem;
        width:3rem;
        margin: 0 auto;
      }
      p {
        font-size:.18rem;
      }

      .button-group {
        width:2rem;
        height:.4rem;

        .sell-it-now {
          height:100%;
          width:100%;
        }
      }
    }
  }
}