@import (reference) "~styles/index.less";

@world: {
  .page-home-reviews-container {
    padding-top: 60*@px;
    padding-bottom: 70*@px;
    .ant-rate-star-full {
      color: #FFCB3F;
    }
    .setpage(996*@px);
    .head-container {
      text-align: center;
      .setpage(500*@px);
      h1 {
        .font(40*@px, 600, #222222);
        margin-bottom: 26*@px;
      }
      .rate-container {
        margin-top: 14*@px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .date-container {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          > *:first-child {
            margin-right: 5*@px;
            color: #808080;
          }
          > *:last-child {
            flex: 0 0 120*@px;
            > * {
              vertical-align: middle;
            }
            img {
              width: 100%;
            }
          }
          
        }
      }
    }

    .list-wrapper {
      overflow: hidden;
      background: #fff;
      margin-top:32*@px;
      .filter-box {
        border-bottom:1px solid #f4f4f4;
        padding-bottom: 20*@px;
        .form {
          display: flex;
          .mb({
            justify-content: space-between;
          });
          .form-item {
            display: flex;
            align-items: center;
            margin:0;
            .ant-form-item-label {
              height:32*@px;
              line-height: 32*@px;
              margin-right: 10*@px;
            }
            .ant-form-item-control-wrapper {
              height:32*@px;
              line-height: 32*@px;
            }
            .ant-form-item-control {
              line-height: 32*@px;
            }
            .ant-select {
              height:32*@px;
              line-height: 32*@px;
              font-size:12*@f;
            }
            .ant-select-selection--single {
              height:32*@px;
              line-height: 32*@px;
            }
            .ant-select-selection__rendered {
              line-height: 32*@px;
            }

            &:nth-of-type(2) {
              margin-left:129*@px;
              .mb({
              margin-left: 0;
              });
              .ant-select {
              }
            }
          }
        }
      }

      .content-wrapper {
        //padding: 0 59*@px 80*@px;
        .list {
          padding:40*@px 0;
          border-bottom: solid #f4f4f4 1px;
          .header {
            display: flex;
            align-items: center;
            h2 {
              font-size:16*@f;
              line-height:normal;}
            .rating {
              margin-left:25*@px;
            }
          }
          .content {
            font-size:14*@f;
            line-height:normal;
            color:#666;
            margin-top:20*@px;
          }
          .time {
            margin-top:20*@px;
            font-size:12*@f;
            line-height:normal;
            color:#888;
          }
        }
        .page-box {
          margin-top:40*@px;
          text-align: center;
        }

        .no-reviews {
          text-align: center;
          margin-top:150*@px;
          margin-bottom:240*@px;
          img {
            width:80*@px;
          }
          h3 {
            margin-top:36*@px;
            font-size:16*@f;
            color:#000;
            line-height:normal;
            font-weight: bold;
          }
        }
      }
    }
  }

  #ismobile {
    .page-home-reviews-container {
      .page-padding();
      .global-wrapper {
        .form {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.hello(@world);


//.ismobile {
//  .page-home-reviews-container  {
//    padding-top: 0;
//    width: 100%;
//    padding-bottom:0;
//    .global-wrapper {
//      background: #fff;
//      padding:.27rem .3rem;
//      .top {
//        display: block;
//        align-items: center;
//        h1 {
//          font-size:.23rem;
//          line-height: .23rem;
//          font-weight: 400;
//        }
//        .rating-list {
//          width:200px;
//          margin-left:0;
//          margin-top:.2rem;
//        }
//      }
//
//      .bottom {
//        margin-top:.1rem;
//        display: block;
//        .text {
//          font-size:14px;
//          color:#6D7278;
//        }
//        .right {
//          flex:1;
//          text-align: left;
//          margin-top:.25rem;
//          height:10px;
//          color:#bcbcbc;
//          line-height:.12rem;
//          font-size:.12rem;
//  
//          img {
//            width:auto;
//            height:.12rem;
//            margin-left:10px;
//          }
//        }
//      }
//    }
//    .list-wrapper {
//      margin-top:.1rem;
//      .filter-box {
//        padding:.17rem .3rem 0;
//        height:.66rem;
//        .form {
//          display: flex;
//  
//          .form-item {
//            width:1.8rem;
//            display: flex;
//            align-items: center;
//            margin:0;
//            .ant-form-item-label {
//              width:.7rem;
//              height:.32rem;
//              line-height: .32rem;
//            }
//            .ant-form-item-control-wrapper {
//              height:.32rem;
//              line-height: .32rem;
//            }
//            .ant-form-item-control {
//              line-height: .32rem;
//            }
//            .ant-select {
//              width:1.1rem;
//              height:.32rem;
//              line-height: .32rem;
//              font-size:.12rem;
//            }
//            .ant-select-selection--single {
//              height:.32rem;
//              line-height: .32rem;
//            }
//            .ant-select-selection__rendered {
//              line-height: .32rem;
//            }
//  
//            &:nth-of-type(2) {
//              width:1.6rem;
//              margin-left:.0;
//              .ant-select {
//                width:.78rem;
//              }
//            }
//          }
//        }     
//      }
//
//
//      .content-wrapper {
//        padding: 0 .3rem .8rem;
//        .list {
//          padding:.2rem 0;
//          border-bottom: solid #f4f4f4 1px;
//          .header {
//            display: flex;
//            align-items: center;
//            h2 {
//              font-size:.14rem;
//              line-height:.14rem;
//            }
//            .rating {
//              width:95px;
//              margin-left:.25rem;
//              height:15px;
//            }
//          }
//          .content {
//            font-size:.14rem;
//            line-height:.24rem;
//            color:#666;
//            margin-top:.2rem;
//          }
//          .time {
//            margin-top:.2rem;
//            font-size:.12rem;
//            line-height:.12rem;
//            color:#888;
//          }
//        }
//        .page-box {
//          margin-top:.4rem;
//          text-align: center;
//        }
//      }
//      .no-reviews {
//        padding:0 .63rem .3rem .42rem;
//        text-align: center;
//        margin-top:.34rem;
//        margin-bottom:.8rem;
//        img {
//          width:.8rem;
//        }
//        h3 {
//          margin-top:.36rem;
//          font-size:.16rem;
//          color:#000;
//          line-height:.19rem;
//          font-weight: bold;
//        }
//      }
//    }
//  }
//}