.page-home-reviews-container {
  padding-top: 100px;
  padding-bottom: 120px;
  letter-spacing:0;
  width:996px;
  margin:0 auto;

  .global-wrapper {
    background: #fff;
    padding:34px 59px 40px;
    .top {
      display: flex;
      align-items: center;
      h1 {
        font-size:30px;
        line-height: 40px;
        font-weight: 400;
      }
      .rating-list {
        width:200px;
        margin-left:20px;
        
      }
    }
    .bottom {
      margin-top:28px;
      display: flex;
      .text {
        font-size:16px;
        color:#6D7278;
      }
      .right {
        flex:1;
        text-align: right;

        height:12px;
        color:#bcbcbc;
        line-height:12px;

        img {
          width:100px;
          margin-left:10px;
        }
      }
    }
  }

  .list-wrapper {
    overflow: hidden;
    background: #fff;
    margin-top:32px;
    .filter-box {
      height:66px;
      border-bottom:1px solid #f4f4f4;
      padding:17px 59px 0;
      .form {
        display: flex;

        .form-item {
          width:180px;
          display: flex;
          align-items: center;
          margin:0;
          .ant-form-item-label {
            height:32px;
            line-height: 32px;
          }
          .ant-form-item-control-wrapper {
            height:32px;
            line-height: 32px;
          }
          .ant-form-item-control {
            line-height: 32px;
          }
          .ant-select {
            width:129px;
            height:32px;
            line-height: 32px;
            font-size:12px;
          }
          .ant-select-selection--single {
            height:32px;
            line-height: 32px;
          }
          .ant-select-selection__rendered {
            line-height: 32px;
          }

          &:nth-of-type(2) {
            margin-left:40px;
            .ant-select {
              width:88px;
            }
          }
        }
      }     
    }

    .content-wrapper {
      padding: 0 59px 80px;
      .list {
        padding:40px 0;
        border-bottom: solid #f4f4f4 1px;
        .header {
          display: flex;
          align-items: center;
          h2 {
            font-size:16px;
            line-height:16px;
          }
          .rating {
            width:95px;
            margin-left:25px;
            height:15px;
          }
        }
        .content {
          font-size:14px;
          line-height:24px;
          color:#666;
          margin-top:20px;
        }
        .time {
          margin-top:20px;
          font-size:12px;
          line-height:12px;
          color:#888;
        }
      }
      .page-box {
        margin-top:40px;
        text-align: center;
      }
    }
  }
}