@import (reference) '~@/styles/index.less';
.page-home-container {
  width: auto;
  .button-link {
    display: block;
    width: 100%;
    .pc({
      display: none;
    });
    > * {
      border-radius: 8px;
      width: 100%;
    }
  }
  .main {
    .pc({
      padding-top: 140px;
    });
    background: @bg-gray;
    .intro {
      .pc({
        margin-left: 150px;
      });
      .mb({
        padding-top: 30px;
      });
      padding: 0 @layout-padding 100px;
      position: relative;
      .clearfix();
      > img {
        display: none;
      }
      > img.pc {
        margin-top: -50px;
        margin-right: 100px;
        float: right;
        //position: absolute;
        //top: 0;
        //right: 100px;
        width: 30%;
        min-width: 350px;
        max-width: 500px;
        .pc({
          display: block;
        });
      }
      > img.mb {
        .mb({
          display: block;
        });
        margin: 20px auto;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
      }
      > .intro_title {
        > br {
          .pc({
            display: none;
          })
        }
        line-height: 1.3;
        width: 85vw;
        .pc({
          width: 400PX;
        });
        .mb({
          width: 300px;
          font-size: 28px;
        });
        font-size: 30px;
        color: @white;
      }
      > .icon-list {
        display: flex;
        .pc({
          min-width: 600px;
        });
        .mb({
          flex-wrap: wrap;
        });
        margin-top: 20px;
        .comp-brand-logo {
          > span:last-child {
            .mb({
              display: none;
            });
          }
        }
        > div:first-child {
          .pc({
            margin-right: 30px;
          });
        }
        > div {
          .mb({
            width: 100%;
          });
          .pc({
            width: 300px;
          });
          display: flex;
          justify-content: space-between;
          > * {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}