@import (reference) "~buy/common/styles/index.less";

@p1: {
  .shopping-cart-page {
    .content {
      .setpage(1170*@px);
      > .title-container:first-child {
        > h1:first-child {
          font-size: 32 * @px;
          text-align: center;
          padding: 30 * @px 0;
          .pc({padding: 64 * @px;});
          border-bottom: 1px solid @color-border;
        }
      }
      .button-container {
        border-bottom: 1px solid @color-border;
        padding-top: 48 *@px;
        padding-bottom: 15 *@px;
        button {
          width:200 *@px;
          height:40*@px;
          line-height:40*@px;
          color: @white;
          background:rgba(55,90,125,1);
          border-radius:4px
        }
      }
      .list-container {
      }
    }
  }
  
  
  
  
  .product-info-line {
    .pc({
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    });

    li.info {
      
    }
    .content-container {
      display: flex;
      flex: 1;
      flex-direction: column;

      .price-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      > * {
        margin-bottom: 4 * @px;
      }
      .title() {
        .font(16 * @px, @boldWeight, rgba(34, 34, 34, 1));
      }
      .ok () {
        .font(12 * @px, @normalWeight, rgba(59, 186, 0, 1));
      }
      > h2 {
        .title();
      }
      > .attr {
        font-size: 12 * @px;
      }
      > .condition {
        .ok();
      }
      > .id {
        .font(12 * @px, @normalWeight, rgba(136, 136, 136, 1));
      }
      > .price {
        > * {
          vertical-align: middle;
        }
        .title();
        img.sale-tag {
          display: inline-block;
          margin-left: 15 * @px;
          width: 35 * @px;
          .mb({
            margin-left: 10 * @px;
            width: 25 * @px;
          })
        }
      }
    }
  }
  .add-to-compare-part {
    .innerdiv {
      .innerdiv-imgsize(208 *@px);
    }
  }
};

.hello(@p1);
