.page-contact-container {
  width: 1024px;
  margin:132px auto 94px;
  background: #fff;
  overflow: hidden;
  h1 {
    padding: 53px 0 65px;
    text-align: center;
    font-size:42px;
    color:#00CFFF;
    border:1px solid #F5F5F5;
  }
}

.ismobile {
  .page-contact-container {
    width: 3.3rem;
    
    .page-m-wrap {
      
      
    }

    h1 {
      font-size: .26rem;
      font-weight: normal;
    }
  }
}