@import (reference) "~styles/index.less";

@world: {
  .page-select-brand {
    background: #f5f7f9;
    @img-size: 165*@px;
    @space: 195*@px;
    padding: 0;
    ul.brand-list {
      margin: auto;
      @cunt: 3;
      display: grid;
      grid-template-columns: repeat(@cunt, 33.33%);
      max-width: @img-size * @cunt + (@cunt - 1) * @space;
      li.brand-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px auto;
        > div {
          .line-height-middle(@img-size);
          width: @img-size;
          height: @img-size;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0*@px 1*@px 3*@px 0*@px rgba(0, 0, 0, 0.1),
            0*@px 2*@px 2*@px 0*@px rgba(0, 0, 0, 0.06),
            0*@px 0*@px 2*@px 0*@px rgba(0, 0, 0, 0.08);
          &:hover {
            box-shadow: 0*@px 8*@px 10*@px 0*@px rgba(0, 0, 0, 0.1),
              0*@px 6*@px 30*@px 5*@px rgba(0, 0, 0, 0.06),
              0*@px 16*@px 24*@px 2*@px rgba(0, 0, 0, 0.08);
          }
          > img {
            width: 70%;
          }
        }
      }
    }
  }

  .ismobile #root {
    .page-select-brand {
      background: #f5f7f9;
      @img-size: 2.67rem;
      @space: 2.4rem;
      padding: 1.52rem 0;
      ul.brand-list {
        @count: 2;
        @height: 3.27rem;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(@count, (100% / @count));
        grid-template-rows: repeat(3, @height);
        max-width: @img-size * @count + (@count - 1) * @space;
        li.brand-icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          > div {
            .line-height-middle(@img-size);
            width: @img-size;
            height: @img-size;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0*@px 1*@px 3*@px 0*@px rgba(0, 0, 0, 0.1),
              0*@px 2*@px 2*@px 0*@px rgba(0, 0, 0, 0.06),
              0*@px 0*@px 2*@px 0*@px rgba(0, 0, 0, 0.08);
            &:hover {
              box-shadow: 0*@px 8*@px 10*@px 0*@px rgba(0, 0, 0, 0.1),
                0*@px 6*@px 30*@px 5*@px rgba(0, 0, 0, 0.06),
                0*@px 16*@px 24*@px 2*@px rgba(0, 0, 0, 0.08);
            }
            > img {
              width: 70%;
            }
          }
        }
      }
    }
  }
};
.hello(@world);
