.page-select-brand {
  background: gray;
  ul.brand-list {
    display: flex;
    li.brand-icon-container {
      &:hover {
        background: red;
      }
      img {
        width: 50%;
      }
    }
  }
}