@import (reference) "~buy/common/styles/index.less";

@p1: {
  .swiper-pc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .mb({
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      overflow-x: scroll;
    });
    //margin-bottom: 40 * @px;
    //padding: 10 * @px 0;
    .innerdiv {
      .canclick();
      .innerdiv-imgsize(auto);
    }
    .inner-div-container {
      overflow: hidden;
      margin-bottom: 20 *@px;
      .innerdiv {
        //.upup();
      }
      &[data-selected="true"] {
        border: 1px solid rgba(55, 90, 125, 1);
      }
      &:not([data-selected="true"]) {
        border: 1px solid transparent;
      }
    }
  }
  .swiper-mb {
    height: 100vw;
    width: 100vw;
    .innerdiv {
      .innerdiv-imgsize(100vw);
    }
  }
};

.hello(@p1);
