

.yr-modal-mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.yr-modal {
  position: relative;
  margin: auto;
  width: 400px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.modal_pos_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_pos_top {
  top: 140px;
}

.yr-modal-content {
  position: relative;
  z-index: 10;
  background-color: white;
  border-radius: 4px;
  padding: 0 30px;


}

.yr-modal-header {

}

.yr-modal-title {
  height: 40px;
  line-height: 40px;
}

.yr-modal-body {
}

.yr-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.yr-modal-close-x {
  width: 20px;
  height: 20px;
}

.yr-modal-footer {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
}

.yr-modal-button {
  text-align: center;
  border-radius: 25px;
  padding: 0 35px;
}

.yr-modal-button-sure {
  background: #18bce8;
  color: white;
}

.yr-modal-button-cancel {
  background: #f8f8f8;
  color: #999999;
}