@import (reference) "~@/styles/color.less";
@import (reference) "~@/styles/font.less";

.__tips {
  margin-top: 10px;
  p {
    font-size: @font-size-bigger;
    font-weight: bold;
    margin: 10px auto;
    display: block;
  }
}
.my-select.ant-select {
  width: 100%;
}