@import (reference) "~buy/common/styles/index.less";

@p1: {
  .icons-card {
    margin-top: 80 * @px;

    .when-pc {
      @marginSize: -35 * @px;
      //.pc({margin-left: @marginSize; margin-right: @marginSize;});
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-around;
      > .item {
        &:nth-child(3) {
          justify-self: end;
        }
        &:nth-child(4) {
          justify-self: end;
        }
        img {
          margin-right: 30 * @px;
        }
        .content {
          h3 {
          }
          p {
            font-size: 13 * @f;
          }
        }
        display: flex;
        align-items: center;
      }
    }
  }
  .ismobile {
    .icons-card {
      margin-top: 60 * @px;
      h3 {
        color: rgba(0, 0, 0, 1) !important;
      }
      .item {
        margin-bottom: 30 * @px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          margin-bottom: 12 * @px;
        }
        .content {
          text-align: center;
        }
      }
    }
  }
};

.hello(@p1);
