@import (reference) "~@/styles/index.less";

.comp-collapse-panel-list {
  .collapse-clear-border();
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0px;
  }
  .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
    border-bottom: 1px solid @color-border;
    padding-left: 0;
    padding-top: 17px;
    padding-bottom: 22px;
    font-size: 18px;
    color: #222222;
    font-weight: 600;
    .ant-collapse-arrow {
      width: 32px;
      height: 32px;
      background: #F0F0F0;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.ismobile {
  .collapse-clear-border();
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0rem * @px2rem;
  }
  .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
    border-bottom: 1rem * @px2rem solid @color-border;
    padding-left: 0;
    padding-top: 17rem * @px2rem;
    padding-bottom: 22rem * @px2rem;
    font-size: 18rem * @px2rem;
    color: #222222;
    font-weight: 600;
    .ant-collapse-arrow {
      width: 32rem * @px2rem;
      height: 32rem * @px2rem;
      background: #F0F0F0;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
