.blog-detail {
  background: #f5f7f9;
  padding-bottom: 88px;
  > .blog-detail__content {
    display: flex;
    justify-content: space-around;
    > section.content-part {
      flex: 1;
      max-width: 805px;
      padding-top: 58px;
      > h2 {
        font-size: 40px;
      }
      > .date {
      }
      > .content {
        margin-top: 87px;
      }
    }
    > div.nav-part {
      padding-top: 173px;
      flex: 0 0 350px;
      // 为什么无法约束住呢？
      max-width: 350px;
      > section {
        > h3 {
          color: #848484;
          margin-bottom: 35px;
          vertical-align: middle;
          &:after {
            vertical-align: middle;
            content: '';
            display: inline-block;
            width: 100%;
            max-width: 220px;
            height: 1px;
            border-top: 1px solid #EBEBEB;
            margin-left: 22px;
          }
        }
        > nav.url-container {
          > a {
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            > img {
              max-width: 105px;
              min-width: 105px;
              height: 105px;
              margin-right: 17px;
            }
            > h3 {

            }
          }
        }
        
      }
    }
  }
  > button {
    margin: 100px auto 0px;
    display: block;
  }
}

.page-statig-blog-container {
  padding: 60px 50px 95px;
  width: 1024px;
  background: #fff;
  margin: 102px auto 88px;
  h1 {
    font-size: 30px;
    color: #111;
    line-height: 36px;
    &.blue {
      color: @primary-color;
    }
  }
  .small {
    margin-top: 30px;
    font-size: 14px;
    line-height: 16px;
    color: #808080;
    display: flex;
    span {
      display: inline-block;
      margin-right: 30px;
    }

    .right {
      flex: 1;
      text-align: right;
      em {
        width: 18px;
        height: 18px;
        display: inline-block;
        margin: 0 2px;
        &:nth-of-type(1) {
          background: url(../../images/single/twitter.png) no-repeat center /
            80%;
        }
        &:nth-of-type(2) {
          background: url(../../images/single/facebook.png) no-repeat center /
            8px 15px;
        }
        &:nth-of-type(3) {
          background: url(../../images/single/google+.png) no-repeat center /
            100%;
        }
        &:nth-of-type(4) {
          background: url(../../images/single/tumblr.png) no-repeat center / 8px
            15px;
        }
      }
    }
  }

  img {
    width: 100%;
    // margin-top:34px;
  }

  .banner {
    width: 100%;
    margin-top: 34px;
  }
  .banner-m {
    display: none;
  }
  p {
    margin: 18px 0;
    font-size: 16px;
    color: #808080;
    line-height: 18px;
  }
  h2 {
    font-size: 24px;
    line-height: 29px;
    color: #111;
    margin-top: 60px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: initial;
    padding-top: 14px;
  }

  ol {
    margin-top: 0;
    font-size: 16px;
    color: #808080;
    line-height: 18px;
    padding-inline-start: 20px;
    padding-left: 2em;
    li {
      list-style-type: decimal;
      list-style-position: outside;
      margin-bottom: 8px;
    }

    ul {
      padding-left: 2em;
      margin-top: 0;
    }
  }

  ul {
    margin-top: 0;
    font-size: 16px;
    color: #808080;
    line-height: 18px;
    padding-inline-start: 20px;
    padding-left: 2em;
    li {
      list-style-type: disc;
      list-style-position: outside;
      margin-bottom: 8px;
    }
  }

  .mail {
    color: #111;
    text-decoration: underline;
  }

  .img-box {
    overflow: hidden;
    .list {
      width: 200px;
      margin-right: 113px;
      float: left;
      margin-top: 65px;

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      .top {
        display: flex;
        align-items: top;
        .number {
          width: 20px;
          height: 20px;
          background: #00bae5;
          border-radius: 50%;
          text-align: center;
          line-height: 20px;
          font-size: 16px;
          line-height: 20px;
          color: #fff;
          margin-right: 6px;
        }
        .title {
          flex: 1;
          font-size: 16px;
          p {
            color: #808080;
            margin: 0;
          }
          span {
            color: #333;
            font-weight: bold;
            margin-top: 14px;
            display: block;
            font-style: italic;

            em {
              font-style: normal;
              color: #808080;
            }
          }
        }
      }

      img {
        width: 100%;
        margin-top: 25px;
      }
    }
  }

  .list-box {
    .list {
      margin-top: 61px;
      .header {
        .number {
          width: 20px;
          height: 20px;
          background: #00bae5;
          border-radius: 50%;
          text-align: center;
          line-height: 20px;
          font-size: 16px;
          line-height: 20px;
          color: #fff;
          margin-right: 6px;
          display: inline-block;
        }
        span.text {
          font-size: 16px;
          color: #333;
          line-height: 19px;
          font-weight: bold;
        }
      }

      img {
        margin-top: 20px;
        width: 486px;
        &.img-270 {
          width: 270px;
        }
      }

      p {
        margin: 24px 0;
        a {
          color: #333;
          text-decoration: underline;
        }
      }

      dl {
        font-size: 16px;
        dt {
          color: #333333;
          margin-bottom: 12px;
          margin-top: 20px;
        }
        dd {
          color: #808080;
        }
      }
    }
  }
}

// 响应式内容
.ismobile {
  // 布局模块公用
  .layout-content {
    // background: #fff;
    margin: 0;
    padding: 0;
    // margin-top: -1rem; // 上部背景
    // padding-top: 1rem; // 上部背景
    // padding-bottom: .4rem; // 下部背景
  }

  // 页面模块公用
  .page-statig-blog-container {
    width: 100%;
    margin: 0;
    margin-bottom: -0.4rem; // 下部背景
    padding: 0 5.5556% 0.7rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong {
      font-weight: normal;
      line-height: 0.29rem;
    }

    h1 {
      font-size: 0.3rem;
      padding-top: 0.9rem;
    }

    h2 {
      font-size: 0.2rem;
      margin-top: 0.32rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: initial;
      padding-top: 0.12rem;
    }

    ul,
    li,
    ol,
    p {
      font-size: 0.14rem;
      line-height: 0.18rem;
    }

    ol {
      margin-top: 0;
    }

    li {
      margin-bottom: 0.08rem;
    }

    p {
      margin: 0.16rem 0;
      line-height: 0.18rem;
    }

    .small span {
      margin-right: 0.2rem;
    }

    .banner {
      display: none;
    }
    .banner-m {
      display: block;
      width: 100%;
      padding-top: 0.2rem;
      margin-top: 0.2rem;
      border-top: 1px solid rgba(242, 242, 242, 1);
    }
  }

  // 部分页面公用
  .page-privacy-policy-container,
  .page-terms-container {
    .layout-content {
      padding: 0.2rem;
    }

    box-sizing: border-box;
    h1 {
      color: #00cfff;
      text-align: center;
    }
  }
}
