@import (reference) "~styles/index.less";
@import (reference) "~./common.less";




@world: {
  .page-blog-list-container {
    //@border-radius-8:
    .featured-part-container {
      .bg-container({background: #f5f7f9;});
      > section.featured-part {
        .setpage(1392*@px);
        .page-padding();
        padding-top: 40*@px;
        padding-bottom: 88*@px;
        > h2 {
          font-size: 32*@px;
          margin-bottom: 43*@px;
        }
        > section.featured {
          border-radius: 4*@px;
          background: @white;
          overflow: hidden;
          > a {
            > img {
              width: 100%;
              border-radius: 8*@px;
            }
            > div.intro-info {
              padding: 17*@px 0 17*@px 27*@px;
              > .tag {
                color: #1ab4e7;
              }
              > .title {
                font-size: 26 * @px;
              }
              > .summary {
                font-size: 16* @px;
              }
              > .date {
                color: #848484;
                font-size: 11 *@px;
              }
            }
          }
        }
      }
    }
  }

  .ismobile #root {
    .page-blog-list-container {
      > header {
        padding: 1rem 0 0.88rem 0;
        > h1 {
          font-size: 0.64rem;
          font-weight: 600;
        }
      }
      .featured-part-container {
        .bg-container({background: @white;});
        > section.featured-part {
          padding-top: 0.27rem;
          padding-bottom: 1.07rem;
          > h2 {
            font-size: 0.48rem;
            margin-bottom: 0.4rem;
          }
          > section.featured {
            background: @white;
            .mb-card();
            > a {
              > img {
                width: 100%;
              }
              > div.intro-info {
                padding: 0.43rem 0.53rem 0.64rem;
                > .tag {
                  display: none;
                }
                > .summary {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
};
.hello(@world);
