@import (reference) '~@/styles/color.less';
@import (reference) '~@/styles/font.less';
.comp-select {
  width: 100%;
  display: flex;
  > button {
    flex: 1;
    color: @color-gray-deeper;
  }
  > button:first-child {
    border-radius: 4px 0 0 4px;
  }
  > button:last-child {
    border-radius: 0 4px 4px 0;
  }
  .sub-question-button {
    width: 172px;
    height: 64px;
    border: 1px solid @color-gray;
    font-size: @font-size-large;
  }
  .sub-question-button[data-select="true"] {
    background: @color-blue-liner;
    color: @white;
    border-color: #1AB4E7;
  }
}

.comp-multi-select {
  .comp-multi-select__item {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    > label {
      color: #222222;
    }
    > input {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin-right: 10px;
    }
  }
  
}

