@import (reference) '~@/styles/index.less';

.comp-brand-header-container {
  height: 90px;
  display: flex;
  padding: 0 40px 0 35px;
  align-items: center;
  border-bottom: 2px solid rgba(245, 245, 245);
  .left-wrapper {
    flex: 1;
    .set-font-color(20px, #00CFFF);
    line-height: 20px;
  }
  .right-wrapper {
    width: 220px;
  }
}