@import (reference) '~@/styles/index.less';
.comp-condition-item-container {
  display: flex;
  .left-wrapper {
    flex: 1;
    .condition {
      margin-bottom: 11px;
      .set-font-color(20px, #000);
      line-height: 20px;
    }
    .detail {
      .set-font-color(14px, #9B9B9B);
      line-height: 14px;
    }
  }

  .right-wrapper {
    margin-left: 20px;
    width: 335px;
    .option {
      display: inline-block;
      margin-left: 15px;
      margin-bottom: 10px;
      width:160px;
      height:50px;
      line-height: 50px;
      text-align: center;
      border-radius:4px;
      background:rgba(255,255,255,1);
      border-radius:4px;
      border:2px solid rgba(204,204,204,1);
      cursor: pointer;
      &:hover {
        background:rgba(255,255,255,1);
        box-shadow:0px 2px 4px 0px rgba(0,207,255,0.35);
        border:2px solid rgba(0,207,255,1);
      }
      &:nth-of-type(2n + 1) {
        margin-left: 0;
      }
    }
  }
}
