@import (reference) "~buy/common/styles/index.less";

@p1: {
  .Inspect-person-info {
    @imgSize: 64 * @px;
    display: flex;
    flex-direction: column;
    .title-style {
      font-size: 16 * @px;
      white-space: nowrap;
      vertical-align: middle;
      img {
        vertical-align: middle;
        width: 30 * @px;
        margin-left: 10 * @px;
        .mb({width: 20 * @px;});
      }
    }
    > * {
      padding-bottom: 17 * @px;
    }
    .first {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      img {
        width: @imgSize;
        height: @imgSize;
        margin-right: 23 * @px;
      }
      .blue {
        color: #1ab4e7;
      }
    }
    .second {
      h3:first-child {
        margin-bottom: 8 *@px;
      }
      //p {
      //  color: #1ab4e7;
      //  font-weight: @boldWeight;
      //}
      //.pc(
      //{margin-top: -30 * @px; margin-left: (@imgSize + 30) * @f;
      //  padding-bottom: 30 * @px;}
      //);
    }
  }
};

.hello(@p1);
