@import (reference) "~@/styles/index.less";
// 局部样式
@bg-color-blue: #1ab4e7;
.contact-common-css {
  // 1）提供模块样式
  .page__blue {
    height: 420px;
    background: @bg-color-blue;
  }
  
  .bg-container {
    .page-padding();
    > *:first-child {
      .page(1402px);
    }
  }
  
  > .bg-1 {
    background: @bg-color-blue;
    height: 420px;
    .page-container__title {
      padding-top: 106px;
      > h1 {
        font-size: 36px;
        color: @white;
        margin-bottom: 20px;
      }
      > p.sub-desc {
        font-size: 16px;
        color: #444b54;
      }
    }
  }
  > .bg-2 {
    background: @white;
    > .common-card {
      padding: 0 @padding-value;
      position: relative;
      top: -100px;
      > section {
        padding-top: 75px;
        padding-bottom: 19px;
        max-width: 888px;
        margin: auto;
        > h2 {
          font-size: 18px;
          margin-bottom: 25px;
        }
        .form {
          margin: auto;
        }
      }
    }
  }
}
