@import (reference) '~@/styles/index.less';
.page-brans-container {
  height: 100%;

  .comp-brand-item-container {
    margin-top: 0.25rem;
    margin-left: 0.15rem;
    &:nth-of-type(4n + 1) {
      margin-left: 0;
    }
  }
}

.@{MOBILECLS} {
  .comp-brand-item-container {
    &:nth-of-type(2n + 1) {
      margin-left: 0;
    }
  }
}