@import (reference) '~@/styles/index.less';
.page-brans-container {
  height: 100%;

  .comp-brand-item-container {
    margin-top: 32px;
    margin-left: 15px;
    &:nth-of-type(4n + 1) {
      margin-left: 0;
    }
  }
}