@import (reference) '~@/styles/index.less';

.page-carriers-container {
  height: 100%;

  .comp-carrier-wrapper-container {
    .comp-carrier-item-container {
      margin-top: 32px;
      margin-left: 15px;

      &:nth-of-type(3n + 1) {
        margin-left: 0;
      }
    }
  }

}