@import (reference) '~@/styles/index.less';
@import './checkorder--mobile.less';
.page-checkorder-container {
  height: 100%;
  .content-wrapper {
    padding-top: 10px;
    padding-bottom:26px;

    .order-summary-wrapper {
      margin-bottom:30px;
      position: relative;
      .main-title {
        .set-font-color(20px, #00CFFF);
        line-height: 52px;
        text-indent: 17px;
      }
      .summary-wrapper-container {
        border:1px solid rgba(245,245,245,1);
        border-radius: 4px;
      }
      .summary-wrapper {
        width:100%;
        height:132px;
        background:rgba(255,255,255,1);
        // border:1px solid rgba(245,245,245,1);
        // border-top:none;
        margin-top:-1px;
        // &:nth-of-type(1) {
        //   border-top-left-radius: 4px;
        //   border-top-right-radius: 4px;
        //   border-top:1px solid rgba(245,245,245,1);
        // }

        // &:last-child {
        //   border-bottom-left-radius: 4px;
        //   border-bottom-right-radius: 4px;
        // }
        .sub-title {
          .set-font-color(12px, #bbb);
          line-height: 44px;
          text-indent: 20px;
          background-color: #F8F9FB;
          // border-radius: 2px 2px 0 0;

          em {
            color:#666;
            font-size: 12px;
            font-style: normal;
            display: inline-block;
            margin-left:10px;
            text-indent: 0;
          }
        }
        .content-wrapper {
          padding: 26px 30px 0;
          .info-wrapper {
            display: flex;
            .info-item {
              flex: 1;
              .label {
                .set-font-color(14px, #bbb);
              }
              .content {
                margin-top: 10px;
                .set-font-color(14px, #333);
              }
            }
          }
        }
      }

      &.multiple {
        height:auto;
        height: 228px;
        .summary-wrapper-container {
          height:176px;
          overflow: hidden;
        }
        &.active {
          height: auto;
          .summary-wrapper-container {
            height:auto;
            overflow: hidden;
          }
          .summary-wrapper:nth-last-of-type(2) {
            height: 163px;
          }
          .btn-group {
            background: none;
            em {
              transform: rotate(-180deg);
            }
          }
        }
        .btn-group {
          height:43px;
          background:linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
          font-size:11px;
          line-height:43px;
          color:#00BAE5;
          text-align: center;
          position: absolute;
          bottom:1px;
          width: 722px;
          margin:0 1px;

          span {
            cursor: pointer;
          }
          em {
            width:9px;
            height:9px;
            background: url(../../images/yourphone/arrow.png) no-repeat center / 100%;
            display: inline-block;
            margin-left:8px;
          }
        }
      }
    }

    .final-step-wrapper {
      background-size: 100%;
      overflow: hidden;
      h2 {
        font-size:20px;
        color:#00D7B8;
        margin-bottom:20px;
        font-weight: 400;
        text-indent: 17px;
      }
      .step {
        background:url(../../images/yourphone/step-1.png) rgba(0,207,255,.15) no-repeat left top /65px 65px;
        padding:20px 25px 10px 80px;
        position: relative;

        &:after {
          content:'';
          border:14px solid transparent;
          border-top-color:rgba(0,207,255,.15);
          display: block;
          position: absolute;
          bottom:-28px;
          left:50%;
          margin-left:-14px;
          z-index: 1;
        }

        &:before {
          content:'';
          border:16px solid transparent;
          border-top-color:#fff;
          position: absolute;
          bottom:-32px;
          left:50%;
          margin-left:-16px;
          z-index: 1;
        }

        &:nth-of-type(2) {
          background:url(../../images/yourphone/step-2.png) rgba(0,215,184,.15) no-repeat left top /65px 65px;
          margin-top:2px;
        }
        .name {
          margin-bottom: 10px;
          .set-font-color(16px, #006859, bold);
          line-height: 16px;
        }
        .detail {
          .set-font-color(12px, #111111);
          line-height: 18px;

          .checkbox-wrapper {
            height:90px;
            background: #fff;
            display: flex;
            align-items: center;
            padding:16px 40px 18px 30px;
            border-radius:4px;
            box-sizing: border-box;

            .checkbox {
              width:20px;
              height:20px;
              border:1px solid #00D7B8;
              box-sizing: border-box;
              border-radius: 50%;
              cursor: pointer;
            }
            .content {
              margin-left:30px;
              margin-right:15px;
              width: 381px;
              p  {
                padding-left:0;
                &:before {
                  display: none;
                }
              }
              span {
                padding-left:0;
              }
              .tips {
                color:#E0E0E0;
                &:before {
                  background: url(../../images/yourphone/circle-arrow-disabled.png) no-repeat center/100%;
                }
              }
            }
            &:last-child {
              margin-top:10px;
              height:70px;
            }
            .checkbox-button {
              width:112px;
              &.text {
                font-size:12px;
                color:#E0E0E0;
                &.active {
                  color:#00cfff;
                }
              }
            }

            &.active {
              border:2px solid rgba(0,215,184,1);
              .checkbox {
                background: url(../../images/yourphone/success.png) no-repeat center/100%;
                border:none;
              }
              .tips {
                color:#00BAE5;
                &:before {
                  background: url(../../images/yourphone/circle-arrow.png) no-repeat center/100%;
                }
              }
            }
          }

          p {
            padding-left:10px;
            position: relative;
            padding-top:2px;
            padding-bottom:2px;
            &:before {
              content:'';
              width:4px;
              height:4px;
              border-radius: 50%;
              background: #111;
              display: block;
              position: absolute;
              top:50%;
              left:0;
              margin-top:-2px;
            }
          }

          small {
            font-size:12px;
            color:#006859;
            line-height: 12px;
            padding-left:10px;
          }
          span.text {
            font-size:12px;
            color:#666;
            line-height: 12px;
            padding-left:10px;
          }
        }
        .tips {
          display: block;
          margin-top: 10px;
          .set-font-color(12px, #00BAE5);
          cursor: pointer;
          &::before {
            content: "";
            display: inline-block;
            vertical-align: -1px;
            margin-right: 4px;
            width: 10px;
            height: 10px;
            background: url("~@/images/yourphone/circle-arrow.png")no-repeat;
            background-size: 100%;
          }
        }
      }
    }
    .shipping-label-wrapper {
      height:80px;
      border-radius:4px;
      padding:0 20px;
      display: flex;
      align-items: center;
      position: relative;
      background: #fff;
      margin:10px 0;
      .left {
        padding-top:8px;
        span {
          font-size:12px;
          color:#bbb;
          line-height: 12px;

          &:last-child {
            display: inline-block;
            margin-left:24px;
            color:#333;
            font-size:15px;
          }
        }
      }

      .button-group {
        flex:1;
        text-align: right;
        a {
          .ant-btn {
            width:100px;
          }
          &:nth-of-type(2) {
            margin-left:20px;
          }
        }
      }
    }

    .checkout-btn-wrapper {
      text-align: center;
      .checkout-btn {
        margin-top: 50px;
        width: 400px;
        height: 48px;
        font-weight: bold;
      }
    }
  }
}