@import (reference) '~@/styles/index.less';
.page-checkorder-container {
  height: 100%;
  .content-wrapper {
    padding-top: 50px;
    .final-step-wrapper {
      height: 150px;
      background: url("~@/images/final_step_bg.png") no-repeat;
      background-size: 100%;
      display: flex;
      .step {
        flex: 1;
        padding: 18px 0 0 20px;
        .name {
          margin-bottom: 16px;
          .set-font-color(18px, #333, bold);
          line-height: 18px;
        }
        .detail {
          width: 200px;
          .set-font-color(12px, #9B9B9B);
          line-height: 18px;
        }
        .tips {
          display: block;
          margin-top: 10px;
          .set-font-color(12px, #00BAE5);
          cursor: pointer;
          &::before {
            content: "";
            display: inline-block;
            vertical-align: -1px;
            margin-right: 4px;
            width: 10px;
            height: 10px;
            background: url("~@/images/yourphone/circle-arrow.png")no-repeat;
            background-size: 100%;
          }
        }
      }
    }
    .order-summary-wrapper {
      margin-top: 27px;
      .main-title {
        .set-font-color(20px, #00CFFF);
        line-height: 52px;
        text-indent: 17px;
      }
      .summary-wrapper {
        width:718px;
        height:244px;
        background:rgba(255,255,255,1);
        border-radius: 4px;
        border:1px solid rgba(245,245,245,1);
        .sub-title {
          .set-font-color(12px, #666, bold);
          line-height: 44px;
          text-indent: 20px;
          background-color: #F8F9FB;
          border-radius: 2px 2px 0 0;
        }
        .content-wrapper {
          padding: 26px 20px 0;
          .info-wrapper {
            display: flex;
            padding-bottom: 50px;
            border-bottom: 1px solid #eaeaea;
            .info-item {
              flex: 1;
              .label {
                .set-font-color(14px, #bbb);
              }
              .content {
                margin-top: 14px;
                .set-font-color(14px, #333);
              }
            }
          }
          .guaranteed-price {
            margin-top: 20px;
            text-align: right;
            span {
              display: inline-block;
            }
            .text {
              margin-right: 58px;
              .set-font-color(14px, #808080);
            }
            .price {
              .set-font-color(14px, #333, bold);
            }
          }
        }
      }
    }
  }
}