@import (reference) '~@/styles/index.less';
.page-conditions-container {
  height: 100%;

  .comp-condition-item-container {
    margin-top: 40px;
  }
}

.@{MOBILECLS} {
  .page-conditions-container {
    .comp-condition-item-container {
      margin-top: 0.3rem;
    }
    .comp-yourphone-breadcrumb-container {
      margin-top: 0;
      margin-left: 0.2rem;
    }
    .middle-wrapper {
      padding-bottom: 0.3rem;
    }
  }
}