@import (reference) '~@/styles/index.less';
.page-layout-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .middle-wrapper {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
    padding: 0 28px 0 28px;
  }
}

.@{MOBILECLS} {
  .page-layout-container {
    padding-bottom:.91rem;
    .middle-wrapper {
      padding: 0;
    }
  }
}