@import (reference) '~@/styles/index.less';
@import './models--mobile.less';
.page-models-container {
  height: 100%;
  .comp-model-item-container {
    margin-top: 32px;
    margin-left: 30px;
    &:nth-of-type(2n + 1) {
      margin-left: 0;
    }
  }

  .model-list-wrapper {
    padding-bottom: 30px;
    overflow: hidden;
    .no-product {
      text-align: center;
      margin-top:150px;
      img {
        width:80px;
      }
      h3 {
        margin-top:36px;
        font-size:16px;
        color:#000;
        line-height:19px;
        font-weight: bold;
      }
      a {
        display: inline-block;
        color:#00BAE5;
        font-size:14px;
        line-height:16px;
        margin-top:26px;
        img {
          width:13px;
          position: relative;
          top:1px;
          margin-right:10px;
        }
      }
    }
  }
}
