@import (reference) '~@/styles/index.less';

.@{MOBILECLS} {
  .page-payment-container {
    .middle-wrapper {
      padding: 0 0.31rem;
      .paypal-col-wrapper {
        padding-top: 0.26rem;
      }
      .echeck-col-wrapper {
        padding: 0.21rem 0.15rem 0.52rem;
      }
    }
  }
}