.comp-home-index-reviews-container {
  box-shadow:0px 4px 14px 0px rgba(0,0,0,0.1);
  background: #fff;
  position: relative;
  padding:80px 0 89px;
  letter-spacing:0;
  h2 {
    font-size:68px;
    text-align: center;
    font-weight: 400;
    line-height:72px;
  }
  .rating-list {
    width:200px;
    margin:50px auto 0;
    display: flex;
  }
  .reviews {
    width:247px;
    color:#6D7278;
    font-size:18px;
    line-height: 18px;
    margin: 15px auto 0;
    span:last-child {
      padding-left:20px;
    }
  }
  .reviews-list-scroll-box {
    overflow: hidden;
    width: 895px;
    .block {
      display: none;
    }
  }
  .reviews-list {
    overflow: hidden;
    width:880px;
    margin:30px auto 0;
    .list {
      width:285px;
      height:230px;
      background: #F8F9FB;
      float:left;
      margin-left:12px;
      padding:30px 20px;
      box-sizing: border-box;

      &:first-child {
        margin-left:0;
      }

      .top {
        display: flex;
        align-items: center;
        .reviews-rating-list {
          width:95px;
          height:15px;
        }

        .time {
          font-size:12px;
          color:#999;
          line-height: 12px;
          flex:1;
          text-align:right;
        }
      }
      .content {
        font-size:14px;
        color:#000;
        line-height: 20px;
        margin-top:20px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        height:98px;
      }
      .reviewer {
        margin-top:20px;
        font-size:12px;
        color:#666;
        line-height: 14px;
      }
    }
  }

  .view-more {
    width:230px;
    height:64px;
    margin: 0 auto;
    display: block;
    margin-top:40px;
  }

}

.ismobile {
  .comp-home-index-reviews-container {
    padding:.3rem 0 .5rem;
    h2 {
      font-size:.34rem;
      line-height:.44rem;
      padding:0 .5rem;
    }
    .rating-list  {
      width:154px;
      margin-top:30px;
    }
    .reviews {
      width:1.9rem;
      margin: .12rem auto 0;
      font-size:.13rem;
    }

    .reviews-list {
      width:100%;
      box-sizing: border-box;
      overflow: initial;

      .reviews-list-scroll-box {
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding-right:.38rem;
        width: auto;

        &::-webkit-scrollbar {
          width:0;
          height:0;
          opacity:0;
        }
        .block {
          height:230px;
          width:38px;
          flex-basis: 38px;
          flex-shrink:0;
          display: block;
        }
        .list {
          flex-basis: 285px;
          flex-shrink:0;
          &:nth-of-type(2) {
            margin-left: 0;
          }
        }
      }
    }
    .view-more {
      width:2rem;
      height:.44rem;
    }
  }
}