.breadcrumb {
  .breadcrumb-list {
    display: flex;
    > li {
      fonr-size: 16px;
      color: #444444;
      &:last-child {
        color: #000000;
      }
      .tag {
        margin: 0 8px;
      }
    }
  }
}
