@import (reference) "~buy/common/styles/index.less";
@import (reference) "~buy/pages/detail/common.less";
@p1: {
  // 全局弹窗样式--
  .condition-buy-level {
    border-radius: 4px;
    padding: 0 * @px 19 * @px;
    color: white;
    margin-left: 10 * @px;
    display: inline-block;
  }

  .condition-list {
    //padding: 0 10 * @px;
    .condition-buy-level {
      margin-bottom: 5 * @px;
      margin-left: 0;
    }
    .condition-list-item {
      margin: 10 * @px auto;
      .title {
        font-size: 20 * @px;
        color: white;
      }
      .content {
      }
    }
  }
  //--

  .header-part {
    font-size: 16 * @f;
    .pc({
      height: 100%;
      .magic-mixin({});
    });
    .sale-tag {
      width: 45 * @px;
      margin-left: 20 * @px;
      .mb({width: 25 * @px;margin-left: 10 * @px;});
      vertical-align: middle;
    }
    
    .act-origin-price,
    .act-buy-price {
      font-size: 18 * @px;
      .pc({font-size: 24 * @f;});
    }

    .price-part-pc {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
    }
    //.price-part-mb {
    //  margin-top: 25 * @px;
    //  .sku-price {
    //    .font(12 * @f, @boldWeight, rgba(136, 136, 136, 1));
    //    > span:last-child {
    //      margin-left: 5 * @px;
    //      text-decoration: line-through;
    //    }
    //  }
    //  .product-id {
    //    > * {
    //      vertical-align: text-bottom;
    //    }
    //  }
    //  /*移动端*/
    //  .bottom {
    //    .price {
    //      margin-bottom: 5 *@px;
    //      .buy-price {
    //        margin-right: 8 * @px;
    //      }
    //      .sku-price {
    //        font-size: 14 * @px;
    //      }
    //    }
    //  }
    //}
  }
};

.hello(@p1);
