@import (reference) "~@/styles/index.less";

.comp-price-title {
  padding: 22px 0 20px;
  text-align: center;
  > h2 {
    margin-bottom: 25px;
    .font(24px, 500, #000000);
    .price {
      border-bottom: 2px solid #6dd230;
    }
  }
  > p {
    .font(18px, 500, #222222);
  }
}
