.comp-tips-icon {
  font-size: 14px;
  background: #E9E9E9;
  color: #040E3F;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}