.comp-tips-antd-container {
  .ant-popover-buttons {
    display: none;
  }
  .ant-popover-message-title {
    padding-left: 0px;
  }
}

.comp-tips-icon-container {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  line-height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #E9E9E9;
  margin-left: 10px;
  font-size: 14px;
}