@import (reference) "~@/styles/index.less";
.page-condition {
  padding: 10px 10px 40px 10px;
  min-height: 63vh;
  .page(800px);
  > img.product-bg {
    width: 273px;
    float: left;
    &+* {
      margin-left: 300px;
    }
  }
  > h1 {
    color: @bg-deep-blue;
    text-align: center;
    margin: 20px auto 20px;
  }
  .finish-button {
    margin: 30px auto 0px;
    display: block;
  }
  .ant-collapse {
    border-top: none;
    border-left: none;
    border-right: none;
  }
}
