@import (reference) "~@/styles/index.less";
.page-condition {
  padding: 10px 10px 40px 10px;
  min-height: 63vh;
  display: flex;
  justify-content: center;
  .page(800px);
  .img-container {
    min-width: 273px;
    max-width: 273px;
    > img.product-bg {
      width: 100%;
    }
    p {
      .font(12px, 500, #222222);
      text-align: right;
      padding-right: 30px;
    }
  }
  > .list-container {
    min-width: 448px;
    flex: 1;
  }

  .finish-button {
    margin: 30px auto 0px;
    display: block;
  }
  .ant-collapse {
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.ismobile #root {
  .page-condition {
    padding: 10rem * @px2rem 10rem * @px2rem 40rem * @px2rem 10rem * @px2rem;
    min-height: 63vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .page(800rem * @px2rem);
    .img-container {
      display: flex;
      align-items: center;
      width: 100%;
      > img.product-bg {
        max-width: 60rem * @px2rem;
      }
      p {
        .font(12rem * @px2rem, 500, #222222);
        text-align: left;
        flex: 1;
        margin-left: 20rem * @px2rem;
      }
      padding-bottom: 17rem * @px2rem;
      border-bottom: 1rem * @px2rem solid @color-border;
    }
    > .list-container {
      min-width: 0px;
    }

    .finish-button {
      margin: 30rem * @px2rem auto 0px;
      display: block;
    }
    .ant-collapse {
      border-top: none;
      border-left: none;
      border-right: none;
    }
  }
}
