@import (reference) "~buy/common/styles/index.less";

@p1: {
  .jobs-layout {
    //.common-home-width(@px);
    margin: 0 auto;
    background: #f5f7f9;
    .title {
      background: @white;
      border-bottom: 1px solid rgba(233, 233, 233, 1);
      padding: 65 * @px 0;
      .mb({
        padding: 35 * @px 0;
      });
      text-align: center;
      font-size: 32 * @px;
      color: rgba(0, 0, 0, 1);
    }
    .main {
      .setpage(1400 *@px);
      padding: 50 * @px 50 * @px 200 * @px;
      .mb({
        padding: 30 * @px 20 * @px 50 * @px;
      })
    }
  }
};

.hello(@p1);
