@import (reference) "~buy/common/styles/index.less";

@p1: {
  .waitlist-button {
    @color: #375a7d;
    border: 1px solid @color;
    color: @color;
    text-align: center;
    .canclick();
  }
};

.hello(@p1);
