@import (reference) "~buy/common/styles/index.less";

@p1: {
  .user-order-list {
    .load-more-container {
      display: flex;
      align-items: center;
      justify-content: center;
      .load-more {
        font-size: 18 * @f;
        font-weight: @boldWeight;
        margin: 30 * @px auto;
        padding: 0 10 * @px 5px;
        text-align: center;
        border-bottom: 2px solid @color-blue-liner-use;
      }
    }
    .empty {
      border: 1px solid @color-gray;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 4px;
      padding: 40 * @px 0 100 * @px;
      > * {
        margin-bottom: 40 * @px;
      }
      h2 {
        font-size: 18 * @f;
      }
    }
    .user-order-item {
      border: 1px solid @color-border;
      margin-bottom: 47 * @px;
      > *:not(:last-child) {
        border-bottom: 1px solid @color-border;
      }
      @padding-vertical: 32 * @px;
      @padding-horizon: 40 * @px;
      @big-font: 18 * @f;
      @normal-font: 16 * @f;
      > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: @padding-vertical @padding-horizon;
        .ordername {
          font-size: @big-font;
          font-weight: @boldWeight;
        }
        .date {
          color: rgba(128, 128, 128, 1);
        }
      }
      > .sub-order-list {
        > .sub-order-item {
          padding: @padding-vertical @padding-horizon;
          display: flex;

          .innerdiv {
            @size: 120 * @px;
            .innerdiv-imgsize(@size);
            margin-right: 43 * @px;
          }
          .content-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
            > h3 {
              font-size: @normal-font;
              font-weight: normal;
            }
          }
        }
      }
      .link-container {
        padding: @padding-vertical 0;
        text-align: center;
        color: @color-blue-liner-use;
        font-size: @big-font;
      }
    }
  }

  .ismobile {
    .user-order-list {
      .user-order-item {
        margin-bottom: 24 * @px;
        @padding-vertical: 23 * @px;
        @padding-horizon: 15 * @px;
        @big-font: 16 * @px;
        @normal-font: 14 * @px;
        > header {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          padding: @padding-vertical @padding-horizon;
          .ordername {
            ont-size: @big-font;
            .mb({font-size: 16 * @px;});
            font-weight: @boldWeight;
          }
          .date {
            color: rgba(128, 128, 128, 1);
          }
        }
        > .sub-order-list {
          > .sub-order-item {
            padding: @padding-vertical @padding-horizon;
            display: flex;

            .innerdiv {
              @size: 120 * @px;
              .innerdiv-imgsize(@size);
              margin-right: 16 * @px;
            }
            .content-container {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              flex-direction: column;
              flex: 1;

              > h3 {
                font-size: @normal-font;
              }
              > h3:first-child {
                font-size: @big-font;
                margin-bottom: 10 * @px;
              }
            }
          }
        }
        .link-container {
          padding: @padding-vertical 0;
          text-align: center;
          color: @color-blue-liner-use;
        }
      }
    }
  }
};

.hello(@p1);
