@import (reference) "~@/styles/index.less";
@world: {
  .comp-result-part {
    .information-list {
      display: flex;
      flex-direction: column;
    }
    .content-tag-container {
      display: flex;
      align-items: flex-start;
    }
    .comp-tag {
      margin-left: 50*@px;
    }
  }
}
.hello(@world);