@import (reference) "~@/styles/index.less";
@world: {
  .comp-result-part {
    .information-list {
      display: flex;
      flex-direction: column;
    }
    .content-tag-container {
      display: flex;
      align-items: flex-start;
      > li {
        flex: 0 0 170*@px;
      }
      > span {
        flex: 0 0 100*@px;
      }
    }
    .comp-tag {
      //margin-left: 50*@px;
    }
  }
}
.hello(@world);