@import (reference) "~buy/common/styles/index.less";

@p1: {
  .account-page {
    padding: 20 * @px;
    .tips {
      text-align: center;
      svg {
        border: 1px solid green;
        color: green;
        border-radius: 50%;
        margin-left: 5px;
      }
    }
    .form-part {
      padding: 5 * @px;
    }
  }
};

.hello(@p1);
