@import (reference) "~@/styles/index.less";
.comp-header-container {
  background: @bg-gray;
  display: flex;
  justify-content: space-between;
  padding: 10px @layout-padding 0;
  > .logo {
    font-size: @font-big;
    color: @white;
    line-height: 1.2;
  }
}