@import (reference) "~@/styles/index.less";
@world: {
  .comp-header-container {
    background: @tab-bar-color;
    display: flex;
    justify-content: space-between;
    padding: 30 * @px 58 * @px 30 * @px;
    //padding: 30*@px 258*@px 30*@px;
    > img.logo {
      width: 130 * @px;
    }
    .comp-dropdown-container {
      color: @white;
      .ant-dropdown-link {
        margin-right: 60 * @px;
      }
      svg {
        transform: rotate(90deg);
        margin-left: 5 * @px;
      }
    }
  }

  .ismobile {
    .comp-header-container {
      padding: 18 * @px 20 * @px 14 * @px 16 * @px;
    }
  }
};
.hello(@world);
