@import (reference) "~@/styles/index.less";
@world: {
  .comp-header-container {
    .collapse-clear-border();
    background: @tab-bar-color;
    .ant-collapse-content > .ant-collapse-content-box {
      padding-top: 0;
      padding-bottom: 0;
    }
    ant-collapse-content
    .ant-collapse-header {
      padding: 0;
    }
    .ant-collapse > .ant-collapse-item {
      border-bottom: none;
    }
    .ant-collapse-content {
      background: @white;
      width: 100%;
      //position: absolute;
      padding-top: 10*@px;
      padding-bottom: 10*@px;
      .ant-collapse-content-box {
        background: @white;
        h2 {
          font-size: 18*@f;
        }
        a {
          font-size: 12*@f;
        }
      }
    }
    padding: 30 * @px 58 * @px 30 * @px;
    //padding: 30*@px 258*@px 30*@px;
    .container {
      display: flex;
      justify-content: space-between;
      > img.logo {
        width: 130 * @px;
      }
      .comp-dropdown-container {
        color: @white;
        .ant-dropdown-link {
          margin-right: 60 * @px;
        }
        svg {
          transform: rotate(90deg);
          margin-left: 5 * @px;
        }
      }
    }
  }

  .ismobile {
    .comp-header-container {
      height: 83px;
      padding: 0;
      width: 100%;
      > *:first-child {
        position: absolute;
        width: 100%;
        z-index: 1;
      }
      .ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
        padding: 18 * @px 20 * @px 14 * @px 16 * @px;
      }
      position: relative;
      // fix gap
      bottom: -1px;
    }
  }
};
.hello(@world);
