.layout-container {
  position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  // overflow: auto;
  // -webkit-overflow-scrolling: touch;

  .layout-content-wrapper {
    
  }
  .layout-content {
    min-height:100%;
    margin-top: -170px;
    margin-bottom:-344px;
    box-sizing: border-box;
    padding-top:170px;
    padding-bottom: 304px;
    background: url("~@/images/global_wave_bg.png") repeat;
  }
}