@import (reference) "~@/styles/index.less";
.comp-brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > div.border {
    @width: 101px;
    @height: 80px;
    width: @width;
    text-align: center;
    height: @height;
    line-height: @height;
    border: 1px solid @white;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    > svg {
      font-size: 20px;
    }
  }
  > span.name {
    color: @white;
    .font(16px, 400, #ffffff);
  }
}

.ismobile #root {
  .comp-brand-logo {
    > div.border {
      @width: 2.19rem;
      @height: 1.49rem;
      width: @width;
      text-align: center;
      height: @height;
      line-height: @height;
      border: 1px solid @white;
      border-radius: 0.16rem;
      overflow: hidden;
      margin-bottom: 0;
      > svg {
        font-size: 0.6rem;
      }
    }
  }
}
